<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SQLServerConnectString" connectionString="Data Source=PACLG2344\I08TA;Initial Catalog=AIS; Persist Security Info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ARiESOutputFolder" value="D:\AIS\DataFeed\ARIES\Archive" />
    <add key="ARiESFileName" value="ais" />
    <add key="ARiESFTPFileName" value="USZ#PA.R2.SZ00.INT.RT01.TR" />
    <add key="ARiESFTPServer" value="172.19.150.100" />
    <add key="ARiESFTPUserName" value="sapeft1" />
    <add key="ARiESFTPPassword" value="transfer" />
    <add key="ARiESLiteral" value="LITERAL SITE BLKSIZE=27200 LRECL=1600 RECFM=FB CY PRI=5 SEC=10"/>
    <add key="LogFile" value="D:\AIS\LogFile" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>