
IF EXISTS (SELECT 1 FROM sysobjects 
	WHERE NAME = 'GetAdjNYSecInjFund' and TYPE = 'P')
	DROP PROC GetAdjNYSecInjFund
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------
-----
-----	PROC NAME:		GetAdjNYSecInjFund
-----
-----	VERSION:		SQL SERVER 2005
-----
-----	AUTHOR :		SUNEEL KUMAR MOGALI
-----
-----	DESCRIPTION:	RETURNS DATA WITH RESPECT TO THE GIVEN INVOICE NUMBER.
-----			
-----	ON EXIT:	
-----			
-----
-----	MODIFIED:	Policies field is changed to new field - 09-Jan-2009
-----			
----- 
---------------------------------------------------------------------

CREATE PROCEDURE [dbo].[GetAdjNYSecInjFund]
@ADJNO INT,
@FLAG INT,
@REVFLAGPREV BIT,
@HISTFLAG BIT

AS
BEGIN

-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
SET NOCOUNT ON;

BEGIN TRY

DECLARE @OldAdjID int
DECLARE @IsRevised bit
DECLARE @IsVoid bit
DECLARE @FnlInvNbr varchar(3)

select @OldAdjID=OldAdj.PREM_ADJ_ID,@IsRevised=OldAdj.ADJ_RRSN_IND,@IsVoid=OldAdj.adj_void_ind, @FnlInvNbr=isnull(SUBSTRING(Adj.fnl_invc_nbr_txt,1,3),'')
from PREM_ADJ OldAdj INNER JOIN PREM_ADJ Adj ON  OldAdj.PREM_ADJ_ID=Adj.REL_PREM_ADJ_ID WHERE Adj.PREM_ADJ_ID=@ADJNO

If (@OldAdjID>0) and (@IsRevised=1) and (@FnlInvNbr<>'RTV')
BEGIN
if (@REVFLAGPREV = 0)
begin
SELECT CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
 WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
--INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
LKUP.LKUP_TXT+'('+CASE WHEN PGMTYP.LKUP_TXT LIKE 'NON-DEP%' THEN 'Retro' ELSE PGMTYP.LKUP_TXT END +')'  "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
COML_AGMT.POL_SYM_TXT+COML_AGMT.POL_NBR_TXT+COML_AGMT.POL_MODULUS_TXT "POLICY NUMBER",
--(CASE WHEN dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID) IS NULL 
--THEN ' ' ELSE RIGHT(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID), LEN(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID))) END) "POLICIES",
COML_AGMT.POl_SYM_TXT + ' ' + RTRIM(COML_AGMT.POL_NBR_TXT) + '-' + COML_AGMT.POl_MODULUS_TXT "POLICIES",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
PREM_ADJ_NY_SCND_INJR_FUND.INCUR_LOS_AMT "NY INCURRED LOSSES",
PREM_ADJ_NY_SCND_INJR_FUND.LOS_CONV_FCTR_RT "LCF",
PREM_ADJ_NY_SCND_INJR_FUND.CNVT_LOS_AMT "CONVERTED LOSSES",
PREM_ADJ_NY_SCND_INJR_FUND.BASIC_DEDTBL_PREM_AMT "BASIC INCLUDED IN DED PREM",
PREM_ADJ_NY_SCND_INJR_FUND.TAX_MULTI_RT "TAX MULTIPLIER",
PREM_ADJ_NY_SCND_INJR_FUND.CNVT_TOT_LOS_AMT "COVERTED TOTAL LOSSES",
PREM_ADJ_NY_SCND_INJR_FUND.NY_PREM_DISC_AMT "NY PREM DISC",
PREM_ADJ_NY_SCND_INJR_FUND.NY_SCND_INJR_FUND_RT "NY SECOND INJ FUND RT",
PREM_ADJ_NY_SCND_INJR_FUND.REVD_NY_SCND_INJR_FUND_AMT "REVISE NY SECOND INJ FUND RT",
PREM_ADJ_NY_SCND_INJR_FUND.NY_TAX_DUE_AMT "NY TAX DUE",
PREM_ADJ_NY_SCND_INJR_FUND.PREV_RSLT_AMT "PREV RES AMT",
PREM_ADJ_NY_SCND_INJR_FUND.NY_SCND_INJR_FUND_AUDT_AMT "NY SECOND INJURY FUND AUDIT AMT",
--CASE WHEN substring(PREM_ADJ.fnl_invc_nbr_txt,1,3) = 'RTV' OR @REVFLAGPREV = 1
-- THEN -(PREM_ADJ_NY_SCND_INJR_FUND.CURR_ADJ_AMT)
--ELSE PREM_ADJ_NY_SCND_INJR_FUND.CURR_ADJ_AMT END "CURRENT ADJUSTMENT",
PREM_ADJ_NY_SCND_INJR_FUND.CURR_ADJ_AMT "CURRENT ADJUSTMENT",
PREM_ADJ_NY_SCND_INJR_FUND.BASIC_CNVT_LOS_AMT "BASIC CONVT LOS AMT",
PREM_ADJ_NY_SCND_INJR_FUND.NY_ERND_RETRO_PREM_AMT "NY EARNED RETRO PREM AMT",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",'False' as IsRevised
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON 
PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN PREM_ADJ_NY_SCND_INJR_FUND ON PREM_ADJ_NY_SCND_INJR_FUND.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_NY_SCND_INJR_FUND.PREM_ADJ_ID =
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_NY_SCND_INJR_FUND.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID AND COML_AGMT.COML_AGMT_ID = PREM_ADJ_NY_SCND_INJR_FUND.COML_AGMT_ID
AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO

UNION ALL

SELECT PREM_ADJ.FNL_INVC_NBR_TXT "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CONVERT(NVARCHAR(30), FNL_INVC_DT,101) "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
--INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
LKUP.LKUP_TXT+'('+CASE WHEN PGMTYP.LKUP_TXT LIKE 'NON-DEP%' THEN 'Retro' ELSE PGMTYP.LKUP_TXT END +')'  "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
COML_AGMT.POL_SYM_TXT+COML_AGMT.POL_NBR_TXT+COML_AGMT.POL_MODULUS_TXT "POLICY NUMBER",
--(CASE WHEN dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID) IS NULL 
--THEN ' ' ELSE RIGHT(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID), LEN(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID))) END) "POLICIES",
COML_AGMT.POl_SYM_TXT + ' ' + RTRIM(COML_AGMT.POL_NBR_TXT) + '-' + COML_AGMT.POl_MODULUS_TXT "POLICIES",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
PREM_ADJ_NY_SCND_INJR_FUND.INCUR_LOS_AMT "NY INCURRED LOSSES",
PREM_ADJ_NY_SCND_INJR_FUND.LOS_CONV_FCTR_RT "LCF",
PREM_ADJ_NY_SCND_INJR_FUND.CNVT_LOS_AMT "CONVERTED LOSSES",
PREM_ADJ_NY_SCND_INJR_FUND.BASIC_DEDTBL_PREM_AMT "BASIC INCLUDED IN DED PREM",
PREM_ADJ_NY_SCND_INJR_FUND.TAX_MULTI_RT "TAX MULTIPLIER",
PREM_ADJ_NY_SCND_INJR_FUND.CNVT_TOT_LOS_AMT "COVERTED TOTAL LOSSES",
PREM_ADJ_NY_SCND_INJR_FUND.NY_PREM_DISC_AMT "NY PREM DISC",
PREM_ADJ_NY_SCND_INJR_FUND.NY_SCND_INJR_FUND_RT "NY SECOND INJ FUND RT",
PREM_ADJ_NY_SCND_INJR_FUND.REVD_NY_SCND_INJR_FUND_AMT "REVISE NY SECOND INJ FUND RT",
PREM_ADJ_NY_SCND_INJR_FUND.NY_TAX_DUE_AMT "NY TAX DUE",
PREM_ADJ_NY_SCND_INJR_FUND.PREV_RSLT_AMT "PREV RES AMT",
PREM_ADJ_NY_SCND_INJR_FUND.NY_SCND_INJR_FUND_AUDT_AMT "NY SECOND INJURY FUND AUDIT AMT",
--CASE WHEN substring(PREM_ADJ.fnl_invc_nbr_txt,1,3) = 'RTV' OR @REVFLAGPREV = 1
-- THEN -(PREM_ADJ_NY_SCND_INJR_FUND.CURR_ADJ_AMT)
--ELSE PREM_ADJ_NY_SCND_INJR_FUND.CURR_ADJ_AMT END "CURRENT ADJUSTMENT",
-PREM_ADJ_NY_SCND_INJR_FUND.CURR_ADJ_AMT "CURRENT ADJUSTMENT",
PREM_ADJ_NY_SCND_INJR_FUND.BASIC_CNVT_LOS_AMT "BASIC CONVT LOS AMT",
PREM_ADJ_NY_SCND_INJR_FUND.NY_ERND_RETRO_PREM_AMT "NY EARNED RETRO PREM AMT",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",'True' as IsRevised
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON 
PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN PREM_ADJ_NY_SCND_INJR_FUND ON PREM_ADJ_NY_SCND_INJR_FUND.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_NY_SCND_INJR_FUND.PREM_ADJ_ID =
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_NY_SCND_INJR_FUND.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID AND COML_AGMT.COML_AGMT_ID = PREM_ADJ_NY_SCND_INJR_FUND.COML_AGMT_ID
AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @OldAdjID 
END
ELSE
BEGIN
SELECT CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
 WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
--INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
LKUP.LKUP_TXT+'('+CASE WHEN PGMTYP.LKUP_TXT LIKE 'NON-DEP%' THEN 'Retro' ELSE PGMTYP.LKUP_TXT END +')'  "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
COML_AGMT.POL_SYM_TXT+COML_AGMT.POL_NBR_TXT+COML_AGMT.POL_MODULUS_TXT "POLICY NUMBER",
--(CASE WHEN dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID) IS NULL 
--THEN ' ' ELSE RIGHT(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID), LEN(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID))) END) "POLICIES",
COML_AGMT.POl_SYM_TXT + ' ' + RTRIM(COML_AGMT.POL_NBR_TXT) + '-' + COML_AGMT.POl_MODULUS_TXT "POLICIES",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
PREM_ADJ_NY_SCND_INJR_FUND.INCUR_LOS_AMT "NY INCURRED LOSSES",
PREM_ADJ_NY_SCND_INJR_FUND.LOS_CONV_FCTR_RT "LCF",
PREM_ADJ_NY_SCND_INJR_FUND.CNVT_LOS_AMT "CONVERTED LOSSES",
PREM_ADJ_NY_SCND_INJR_FUND.BASIC_DEDTBL_PREM_AMT "BASIC INCLUDED IN DED PREM",
PREM_ADJ_NY_SCND_INJR_FUND.TAX_MULTI_RT "TAX MULTIPLIER",
PREM_ADJ_NY_SCND_INJR_FUND.CNVT_TOT_LOS_AMT "COVERTED TOTAL LOSSES",
PREM_ADJ_NY_SCND_INJR_FUND.NY_PREM_DISC_AMT "NY PREM DISC",
PREM_ADJ_NY_SCND_INJR_FUND.NY_SCND_INJR_FUND_RT "NY SECOND INJ FUND RT",
PREM_ADJ_NY_SCND_INJR_FUND.REVD_NY_SCND_INJR_FUND_AMT "REVISE NY SECOND INJ FUND RT",
PREM_ADJ_NY_SCND_INJR_FUND.NY_TAX_DUE_AMT "NY TAX DUE",
PREM_ADJ_NY_SCND_INJR_FUND.PREV_RSLT_AMT "PREV RES AMT",
PREM_ADJ_NY_SCND_INJR_FUND.NY_SCND_INJR_FUND_AUDT_AMT "NY SECOND INJURY FUND AUDIT AMT",
--CASE WHEN substring(PREM_ADJ.fnl_invc_nbr_txt,1,3) = 'RTV' OR @REVFLAGPREV = 1
-- THEN -(PREM_ADJ_NY_SCND_INJR_FUND.CURR_ADJ_AMT)
--ELSE PREM_ADJ_NY_SCND_INJR_FUND.CURR_ADJ_AMT END "CURRENT ADJUSTMENT",
PREM_ADJ_NY_SCND_INJR_FUND.CURR_ADJ_AMT "CURRENT ADJUSTMENT",
PREM_ADJ_NY_SCND_INJR_FUND.BASIC_CNVT_LOS_AMT "BASIC CONVT LOS AMT",
PREM_ADJ_NY_SCND_INJR_FUND.NY_ERND_RETRO_PREM_AMT "NY EARNED RETRO PREM AMT",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",'False' as IsRevised
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON 
PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN PREM_ADJ_NY_SCND_INJR_FUND ON PREM_ADJ_NY_SCND_INJR_FUND.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_NY_SCND_INJR_FUND.PREM_ADJ_ID =
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_NY_SCND_INJR_FUND.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID AND COML_AGMT.COML_AGMT_ID = PREM_ADJ_NY_SCND_INJR_FUND.COML_AGMT_ID
AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO
END
END
ELSE If (@OldAdjID>0) and (@IsVoid=1) and (@FnlInvNbr='RTV')-- Voided
BEGIN

SELECT CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
 WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
--INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
LKUP.LKUP_TXT+'('+CASE WHEN PGMTYP.LKUP_TXT LIKE 'NON-DEP%' THEN 'Retro' ELSE PGMTYP.LKUP_TXT END +')'  "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
COML_AGMT.POL_SYM_TXT+COML_AGMT.POL_NBR_TXT+COML_AGMT.POL_MODULUS_TXT "POLICY NUMBER",
--(CASE WHEN dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID) IS NULL 
--THEN ' ' ELSE RIGHT(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID), LEN(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID))) END) "POLICIES",
COML_AGMT.POl_SYM_TXT + ' ' + RTRIM(COML_AGMT.POL_NBR_TXT) + '-' + COML_AGMT.POl_MODULUS_TXT "POLICIES",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
PREM_ADJ_NY_SCND_INJR_FUND.INCUR_LOS_AMT "NY INCURRED LOSSES",
PREM_ADJ_NY_SCND_INJR_FUND.LOS_CONV_FCTR_RT "LCF",
PREM_ADJ_NY_SCND_INJR_FUND.CNVT_LOS_AMT "CONVERTED LOSSES",
PREM_ADJ_NY_SCND_INJR_FUND.BASIC_DEDTBL_PREM_AMT "BASIC INCLUDED IN DED PREM",
PREM_ADJ_NY_SCND_INJR_FUND.TAX_MULTI_RT "TAX MULTIPLIER",
PREM_ADJ_NY_SCND_INJR_FUND.CNVT_TOT_LOS_AMT "COVERTED TOTAL LOSSES",
PREM_ADJ_NY_SCND_INJR_FUND.NY_PREM_DISC_AMT "NY PREM DISC",
PREM_ADJ_NY_SCND_INJR_FUND.NY_SCND_INJR_FUND_RT "NY SECOND INJ FUND RT",
PREM_ADJ_NY_SCND_INJR_FUND.REVD_NY_SCND_INJR_FUND_AMT "REVISE NY SECOND INJ FUND RT",
PREM_ADJ_NY_SCND_INJR_FUND.NY_TAX_DUE_AMT "NY TAX DUE",
PREM_ADJ_NY_SCND_INJR_FUND.PREV_RSLT_AMT "PREV RES AMT",
PREM_ADJ_NY_SCND_INJR_FUND.NY_SCND_INJR_FUND_AUDT_AMT "NY SECOND INJURY FUND AUDIT AMT",
--CASE WHEN substring(PREM_ADJ.fnl_invc_nbr_txt,1,3) = 'RTV' OR @REVFLAGPREV = 1
-- THEN -(PREM_ADJ_NY_SCND_INJR_FUND.CURR_ADJ_AMT)
--ELSE PREM_ADJ_NY_SCND_INJR_FUND.CURR_ADJ_AMT END "CURRENT ADJUSTMENT",
-PREM_ADJ_NY_SCND_INJR_FUND.CURR_ADJ_AMT "CURRENT ADJUSTMENT",
PREM_ADJ_NY_SCND_INJR_FUND.BASIC_CNVT_LOS_AMT "BASIC CONVT LOS AMT",
PREM_ADJ_NY_SCND_INJR_FUND.NY_ERND_RETRO_PREM_AMT "NY EARNED RETRO PREM AMT",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",'False' as IsRevised
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON 
PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN PREM_ADJ_NY_SCND_INJR_FUND ON PREM_ADJ_NY_SCND_INJR_FUND.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_NY_SCND_INJR_FUND.PREM_ADJ_ID =
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_NY_SCND_INJR_FUND.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID AND COML_AGMT.COML_AGMT_ID = PREM_ADJ_NY_SCND_INJR_FUND.COML_AGMT_ID
AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO

END
ELSE --If (@OldAdjID=0) 
BEGIN

SELECT CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
 WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
--INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
LKUP.LKUP_TXT+'('+CASE WHEN PGMTYP.LKUP_TXT LIKE 'NON-DEP%' THEN 'Retro' ELSE PGMTYP.LKUP_TXT END +')'  "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
COML_AGMT.POL_SYM_TXT+COML_AGMT.POL_NBR_TXT+COML_AGMT.POL_MODULUS_TXT "POLICY NUMBER",
--(CASE WHEN dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID) IS NULL 
--THEN ' ' ELSE RIGHT(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID), LEN(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID))) END) "POLICIES",
COML_AGMT.POl_SYM_TXT + ' ' + RTRIM(COML_AGMT.POL_NBR_TXT) + '-' + COML_AGMT.POl_MODULUS_TXT "POLICIES",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
PREM_ADJ_NY_SCND_INJR_FUND.INCUR_LOS_AMT "NY INCURRED LOSSES",
PREM_ADJ_NY_SCND_INJR_FUND.LOS_CONV_FCTR_RT "LCF",
PREM_ADJ_NY_SCND_INJR_FUND.CNVT_LOS_AMT "CONVERTED LOSSES",
PREM_ADJ_NY_SCND_INJR_FUND.BASIC_DEDTBL_PREM_AMT "BASIC INCLUDED IN DED PREM",
PREM_ADJ_NY_SCND_INJR_FUND.TAX_MULTI_RT "TAX MULTIPLIER",
PREM_ADJ_NY_SCND_INJR_FUND.CNVT_TOT_LOS_AMT "COVERTED TOTAL LOSSES",
PREM_ADJ_NY_SCND_INJR_FUND.NY_PREM_DISC_AMT "NY PREM DISC",
PREM_ADJ_NY_SCND_INJR_FUND.NY_SCND_INJR_FUND_RT "NY SECOND INJ FUND RT",
PREM_ADJ_NY_SCND_INJR_FUND.REVD_NY_SCND_INJR_FUND_AMT "REVISE NY SECOND INJ FUND RT",
PREM_ADJ_NY_SCND_INJR_FUND.NY_TAX_DUE_AMT "NY TAX DUE",
PREM_ADJ_NY_SCND_INJR_FUND.PREV_RSLT_AMT "PREV RES AMT",
PREM_ADJ_NY_SCND_INJR_FUND.NY_SCND_INJR_FUND_AUDT_AMT "NY SECOND INJURY FUND AUDIT AMT",
--CASE WHEN substring(PREM_ADJ.fnl_invc_nbr_txt,1,3) = 'RTV' OR @REVFLAGPREV = 1
-- THEN -(PREM_ADJ_NY_SCND_INJR_FUND.CURR_ADJ_AMT)
--ELSE PREM_ADJ_NY_SCND_INJR_FUND.CURR_ADJ_AMT END "CURRENT ADJUSTMENT",
PREM_ADJ_NY_SCND_INJR_FUND.CURR_ADJ_AMT "CURRENT ADJUSTMENT",
PREM_ADJ_NY_SCND_INJR_FUND.BASIC_CNVT_LOS_AMT "BASIC CONVT LOS AMT",
PREM_ADJ_NY_SCND_INJR_FUND.NY_ERND_RETRO_PREM_AMT "NY EARNED RETRO PREM AMT",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",'False' as IsRevised
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON 
PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN PREM_ADJ_NY_SCND_INJR_FUND ON PREM_ADJ_NY_SCND_INJR_FUND.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_NY_SCND_INJR_FUND.PREM_ADJ_ID =
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_NY_SCND_INJR_FUND.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID AND COML_AGMT.COML_AGMT_ID = PREM_ADJ_NY_SCND_INJR_FUND.COML_AGMT_ID
AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO

END

END TRY
BEGIN CATCH

	SELECT 
    ERROR_NUMBER() AS ERRORNUMBER,
    ERROR_SEVERITY() AS ERRORSEVERITY,
    ERROR_STATE() AS ERRORSTATE,
    ERROR_PROCEDURE() AS ERRORPROCEDURE,
    ERROR_LINE() AS ERRORLINE,
    ERROR_MESSAGE() AS ERRORMESSAGE;


END CATCH
END

GO

IF OBJECT_ID('GetAdjNYSecInjFund') IS NOT NULL
	PRINT 'CREATED PROCEDURE GetAdjNYSecInjFund'
ELSE
	PRINT 'FAILED CREATING PROCEDURE GetAdjNYSecInjFund'
GO

IF OBJECT_ID('GetAdjNYSecInjFund') IS NOT NULL
	GRANT EXEC ON GetAdjNYSecInjFund TO PUBLIC
GO










