
IF EXISTS (SELECT 1 FROM sysobjects 
	WHERE NAME = 'GetSurchargesAssessments' and TYPE = 'P')
	DROP PROC GetSurchargesAssessments
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



---------------------------------------------------------------------
-----
-----	PROC NAME:		GetSurchargesAssessments
-----
-----	VERSION:		SQL SERVER 2005
-----
-----	AUTHOR :		SUNEEL KUMAR MOGALI/ZAKIR HUSSAIN
-----
-----	DESCRIPTION:	The resultset will be populated at state code level
-----			
-----	ON EXIT:	
-----			
-----
-----	MODIFIED:	
-----			
----- 
---------------------------------------------------------------------

CREATE PROCEDURE [dbo].[GetSurchargesAssessments]
@ADJNO INT,
@FLAG INT,
@REVFLAGPREV BIT,
@HISTFLAG BIT

AS
BEGIN

-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
SET NOCOUNT ON;

BEGIN TRY

DECLARE @OldAdjID int
DECLARE @IsRevised bit
DECLARE @IsVoid bit
DECLARE @FnlInvNbr varchar(3)

select @OldAdjID=OldAdj.PREM_ADJ_ID,@IsRevised=OldAdj.ADJ_RRSN_IND,@IsVoid=OldAdj.adj_void_ind, @FnlInvNbr=isnull(SUBSTRING(Adj.fnl_invc_nbr_txt,1,3),'')
from PREM_ADJ OldAdj INNER JOIN PREM_ADJ Adj ON  OldAdj.PREM_ADJ_ID=Adj.REL_PREM_ADJ_ID WHERE Adj.PREM_ADJ_ID=@ADJNO

If (@OldAdjID>0) and (@IsRevised=1) and (@FnlInvNbr<>'RTV')
BEGIN
if (@REVFLAGPREV = 0)
begin
SELECT DISTINCT count(*) over()  as TOTROWCOUNT, CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
 WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
LKUP.LKUP_TXT  "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
COML_AGMT.POL_SYM_TXT+COML_AGMT.POL_NBR_TXT+COML_AGMT.POL_MODULUS_TXT "POLICY NUMBER",
COML_AGMT.POl_SYM_TXT + ' ' + RTRIM(COML_AGMT.POL_NBR_TXT) + '-' + COML_AGMT.POl_MODULUS_TXT "POLICIES",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
ST.ATTR_1_TXT+'-'+CD.LKUP_TXT+case when CD.LKUP_TXT = '931' then '**' when CD.LKUP_TXT = '0932' then '*' else '' end "STATE CD",
DESCRIP.LKUP_TXT "DESCRIPTION",
ST.ATTR_1_TXT+' '+ABBR.LKUP_TXT "ABBREV",
PREM_ADJ_SURCHRG_DTL.BASIC_AMT "BASIC AMT",
PREM_ADJ_SURCHRG_DTL.SUBJ_PAID_IDNMTY_AMT+PREM_ADJ_SURCHRG_DTL.SUBJ_PAID_EXPS_AMT+PREM_ADJ_SURCHRG_DTL.SUBJ_RESRV_IDNMTY_AMT+
PREM_ADJ_SURCHRG_DTL.SUBJ_RESRV_EXPS_AMT "INCURRED LOSSES",
PREM_ADJ_SURCHRG_DTL.ERND_RETRO_PREM_AMT "CURR ERP", --??
CASE WHEN PREM_ADJ_SURCHRG_DTL.PREV_BILED_ERND_RETRO_PREM_AMT IS NULL THEN isnull(STD_SUBJ_PREM_AMT,0) ELSE isnull(PREM_ADJ_SURCHRG_DTL.PREV_BILED_ERND_RETRO_PREM_AMT,0) END "PREV ERP",
PREM_ADJ_SURCHRG_DTL.RETRO_RSLT "RETRO RESULT",
PREM_ADJ_SURCHRG_DTL.ADDN_SURCHRG_ASSES_CMPNT "ADDN SURCHARGE ASSESSMENT COMP",
PREM_ADJ_SURCHRG_DTL.TOT_SURCHRG_ASSES_BASE "TOTAL SURCHARGE ASSESSMENT BASE",
PREM_ADJ_SURCHRG_DTL.SURCHRG_RT "FACTOR",
isnull(PREM_ADJ_SURCHRG_DTL_AMT.OTHER_SURCHRG_AMT,0) "OTHER SURCHARGE AMOUNT",
round(PREM_ADJ_SURCHRG_DTL.TOT_ADDN_RTN,0) "TOTAL ADDITIONAL RETURN",
PREM_ADJ_CMMNT.CMMNT_TXT "COMMENTS",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",'False' as IsRevised
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON 
PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID --AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_SURCHRG_DTL ON PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_SURCHRG_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_SURCHRG_DTL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID AND PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PGM_ID = PREM_ADJ_PERD.PREM_ADJ_PGM_ID
LEFT OUTER JOIN PREM_ADJ_SURCHRG_DTL_AMT ON PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_PERD_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID AND PREM_ADJ_SURCHRG_DTL_AMT.CUSTMR_ID = PREM_ADJ_SURCHRG_DTL.CUSTMR_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.COML_AGMT_ID = PREM_ADJ_SURCHRG_DTL.COML_AGMT_ID AND PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_PGM_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PGM_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.ST_ID = PREM_ADJ_SURCHRG_DTL.ST_ID AND PREM_ADJ_SURCHRG_DTL_AMT.LN_OF_BSN_ID = PREM_ADJ_SURCHRG_DTL.LN_OF_BSN_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.SURCHRG_CD_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_CD_ID AND PREM_ADJ_SURCHRG_DTL_AMT.SURCHRG_TYP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_TYP_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
INNER JOIN LKUP ST ON ST.LKUP_ID = PREM_ADJ_SURCHRG_DTL.ST_ID
INNER JOIN LKUP CD ON CD.LKUP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_CD_ID
INNER JOIN LKUP DESCRIP ON DESCRIP.LKUP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_TYP_ID
INNER JOIN LKUP ABBR ON ABBR.ATTR_1_TXT = DESCRIP.LKUP_TXT AND ABBR.LKUP_TYP_ID = 63
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ_CMMNT.PREM_ADJ_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 612
WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND (isnull(PREM_ADJ_SURCHRG_DTL.SURCHRG_RT,0)<>0 OR isnull(ABS(PREM_ADJ_SURCHRG_DTL_AMT.OTHER_SURCHRG_AMT),0)<>0)

UNION ALL

SELECT DISTINCT count(*) over()  as TOTROWCOUNT,  PREM_ADJ.FNL_INVC_NBR_TXT "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CONVERT(NVARCHAR(30), FNL_INVC_DT,101) "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
LKUP.LKUP_TXT  "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
COML_AGMT.POL_SYM_TXT+COML_AGMT.POL_NBR_TXT+COML_AGMT.POL_MODULUS_TXT "POLICY NUMBER",
COML_AGMT.POl_SYM_TXT + ' ' + RTRIM(COML_AGMT.POL_NBR_TXT) + '-' + COML_AGMT.POl_MODULUS_TXT "POLICIES",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
ST.ATTR_1_TXT+'-'+CD.LKUP_TXT+case when CD.LKUP_TXT = '931' then '**' when CD.LKUP_TXT = '0932' then '*' else '' end "STATE CD",
DESCRIP.LKUP_TXT "DESCRIPTION",
ST.ATTR_1_TXT+' '+ABBR.LKUP_TXT "ABBREV",
PREM_ADJ_SURCHRG_DTL.BASIC_AMT "BASIC AMT",
PREM_ADJ_SURCHRG_DTL.SUBJ_PAID_IDNMTY_AMT+PREM_ADJ_SURCHRG_DTL.SUBJ_PAID_EXPS_AMT+PREM_ADJ_SURCHRG_DTL.SUBJ_RESRV_IDNMTY_AMT+
PREM_ADJ_SURCHRG_DTL.SUBJ_RESRV_EXPS_AMT "INCURRED LOSSES",
PREM_ADJ_SURCHRG_DTL.ERND_RETRO_PREM_AMT "CURR ERP", --??
CASE WHEN PREM_ADJ_SURCHRG_DTL.PREV_BILED_ERND_RETRO_PREM_AMT IS NULL THEN isnull(STD_SUBJ_PREM_AMT,0) ELSE isnull(PREM_ADJ_SURCHRG_DTL.PREV_BILED_ERND_RETRO_PREM_AMT,0) END "PREV ERP",
PREM_ADJ_SURCHRG_DTL.RETRO_RSLT "RETRO RESULT",
PREM_ADJ_SURCHRG_DTL.ADDN_SURCHRG_ASSES_CMPNT "ADDN SURCHARGE ASSESSMENT COMP",
PREM_ADJ_SURCHRG_DTL.TOT_SURCHRG_ASSES_BASE "TOTAL SURCHARGE ASSESSMENT BASE",
PREM_ADJ_SURCHRG_DTL.SURCHRG_RT "FACTOR",
isnull(PREM_ADJ_SURCHRG_DTL_AMT.OTHER_SURCHRG_AMT,0) "OTHER SURCHARGE AMOUNT",
round(-PREM_ADJ_SURCHRG_DTL.TOT_ADDN_RTN,0) "TOTAL ADDITIONAL RETURN",
PREM_ADJ_CMMNT.CMMNT_TXT "COMMENTS",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",'True' as IsRevised
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON 
PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID --AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_SURCHRG_DTL ON PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_SURCHRG_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_SURCHRG_DTL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID AND PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PGM_ID = PREM_ADJ_PERD.PREM_ADJ_PGM_ID
LEFT OUTER JOIN PREM_ADJ_SURCHRG_DTL_AMT ON PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_PERD_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID AND PREM_ADJ_SURCHRG_DTL_AMT.CUSTMR_ID = PREM_ADJ_SURCHRG_DTL.CUSTMR_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.COML_AGMT_ID = PREM_ADJ_SURCHRG_DTL.COML_AGMT_ID AND PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_PGM_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PGM_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.ST_ID = PREM_ADJ_SURCHRG_DTL.ST_ID AND PREM_ADJ_SURCHRG_DTL_AMT.LN_OF_BSN_ID = PREM_ADJ_SURCHRG_DTL.LN_OF_BSN_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.SURCHRG_CD_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_CD_ID AND PREM_ADJ_SURCHRG_DTL_AMT.SURCHRG_TYP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_TYP_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
INNER JOIN LKUP ST ON ST.LKUP_ID = PREM_ADJ_SURCHRG_DTL.ST_ID
INNER JOIN LKUP CD ON CD.LKUP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_CD_ID
INNER JOIN LKUP DESCRIP ON DESCRIP.LKUP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_TYP_ID
INNER JOIN LKUP ABBR ON ABBR.ATTR_1_TXT = DESCRIP.LKUP_TXT AND ABBR.LKUP_TYP_ID = 63
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ_CMMNT.PREM_ADJ_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 612
 WHERE PREM_ADJ.PREM_ADJ_ID =  @OldAdjID AND (isnull(PREM_ADJ_SURCHRG_DTL.SURCHRG_RT,0)<>0 OR isnull(ABS(PREM_ADJ_SURCHRG_DTL_AMT.OTHER_SURCHRG_AMT),0)<>0)
END
ELSE
BEGIN
SELECT DISTINCT count(*) over()  as TOTROWCOUNT, CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
LKUP.LKUP_TXT "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
COML_AGMT.POL_SYM_TXT+COML_AGMT.POL_NBR_TXT+COML_AGMT.POL_MODULUS_TXT "POLICY NUMBER",
COML_AGMT.POl_SYM_TXT + ' ' + RTRIM(COML_AGMT.POL_NBR_TXT) + '-' + COML_AGMT.POl_MODULUS_TXT "POLICIES",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
ST.ATTR_1_TXT+'-'+CD.LKUP_TXT+case when CD.LKUP_TXT = '931' then '**' when CD.LKUP_TXT = '0932' then '*' else '' end "STATE CD",
DESCRIP.LKUP_TXT "DESCRIPTION",
ST.ATTR_1_TXT+' '+ABBR.LKUP_TXT "ABBREV",
PREM_ADJ_SURCHRG_DTL.BASIC_AMT "BASIC AMT",
PREM_ADJ_SURCHRG_DTL.SUBJ_PAID_IDNMTY_AMT+PREM_ADJ_SURCHRG_DTL.SUBJ_PAID_EXPS_AMT+PREM_ADJ_SURCHRG_DTL.SUBJ_RESRV_IDNMTY_AMT+
PREM_ADJ_SURCHRG_DTL.SUBJ_RESRV_EXPS_AMT "INCURRED LOSSES",
PREM_ADJ_SURCHRG_DTL.ERND_RETRO_PREM_AMT "CURR ERP", --??
CASE WHEN PREM_ADJ_SURCHRG_DTL.PREV_BILED_ERND_RETRO_PREM_AMT IS NULL THEN isnull(STD_SUBJ_PREM_AMT,0) ELSE isnull(PREM_ADJ_SURCHRG_DTL.PREV_BILED_ERND_RETRO_PREM_AMT,0) END "PREV ERP",
PREM_ADJ_SURCHRG_DTL.RETRO_RSLT "RETRO RESULT",
PREM_ADJ_SURCHRG_DTL.ADDN_SURCHRG_ASSES_CMPNT "ADDN SURCHARGE ASSESSMENT COMP",
PREM_ADJ_SURCHRG_DTL.TOT_SURCHRG_ASSES_BASE "TOTAL SURCHARGE ASSESSMENT BASE",
PREM_ADJ_SURCHRG_DTL.SURCHRG_RT "FACTOR",
isnull(PREM_ADJ_SURCHRG_DTL_AMT.OTHER_SURCHRG_AMT,0) "OTHER SURCHARGE AMOUNT",
round(PREM_ADJ_SURCHRG_DTL.TOT_ADDN_RTN,0) "TOTAL ADDITIONAL RETURN",
PREM_ADJ_CMMNT.CMMNT_TXT "COMMENTS",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",'False' as IsRevised
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON 
PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_SURCHRG_DTL ON PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_SURCHRG_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_SURCHRG_DTL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID AND PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PGM_ID = PREM_ADJ_PERD.PREM_ADJ_PGM_ID
LEFT OUTER JOIN PREM_ADJ_SURCHRG_DTL_AMT ON PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_PERD_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID AND PREM_ADJ_SURCHRG_DTL_AMT.CUSTMR_ID = PREM_ADJ_SURCHRG_DTL.CUSTMR_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.COML_AGMT_ID = PREM_ADJ_SURCHRG_DTL.COML_AGMT_ID AND PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_PGM_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PGM_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.ST_ID = PREM_ADJ_SURCHRG_DTL.ST_ID AND PREM_ADJ_SURCHRG_DTL_AMT.LN_OF_BSN_ID = PREM_ADJ_SURCHRG_DTL.LN_OF_BSN_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.SURCHRG_CD_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_CD_ID AND PREM_ADJ_SURCHRG_DTL_AMT.SURCHRG_TYP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_TYP_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
INNER JOIN LKUP ST ON ST.LKUP_ID = PREM_ADJ_SURCHRG_DTL.ST_ID
INNER JOIN LKUP CD ON CD.LKUP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_CD_ID
INNER JOIN LKUP DESCRIP ON DESCRIP.LKUP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_TYP_ID
INNER JOIN LKUP ABBR ON ABBR.ATTR_1_TXT = DESCRIP.LKUP_TXT AND ABBR.LKUP_TYP_ID = 63
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ_CMMNT.PREM_ADJ_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 612
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND (isnull(PREM_ADJ_SURCHRG_DTL.SURCHRG_RT,0)<>0 OR isnull(ABS(PREM_ADJ_SURCHRG_DTL_AMT.OTHER_SURCHRG_AMT),0)<>0)
END
END
ELSE
 If (@OldAdjID>0) and (@IsVoid=1) and (@FnlInvNbr='RTV')-- Voided
BEGIN

SELECT DISTINCT count(*) over()  as TOTROWCOUNT,  CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
 WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
--INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
LKUP.LKUP_TXT  "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
COML_AGMT.POL_SYM_TXT+COML_AGMT.POL_NBR_TXT+COML_AGMT.POL_MODULUS_TXT "POLICY NUMBER",
--(CASE WHEN dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID) IS NULL 
--THEN ' ' ELSE RIGHT(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID), LEN(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID))) END) "POLICIES",
COML_AGMT.POl_SYM_TXT + ' ' + RTRIM(COML_AGMT.POL_NBR_TXT) + '-' + COML_AGMT.POl_MODULUS_TXT "POLICIES",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
ST.ATTR_1_TXT+'-'+CD.LKUP_TXT+case when CD.LKUP_TXT = '931' then '**' when CD.LKUP_TXT = '0932' then '*' else '' end "STATE CD",
DESCRIP.LKUP_TXT "DESCRIPTION",
ST.ATTR_1_TXT+' '+ABBR.LKUP_TXT "ABBREV",
PREM_ADJ_SURCHRG_DTL.BASIC_AMT "BASIC AMT",
PREM_ADJ_SURCHRG_DTL.SUBJ_PAID_IDNMTY_AMT+PREM_ADJ_SURCHRG_DTL.SUBJ_PAID_EXPS_AMT+PREM_ADJ_SURCHRG_DTL.SUBJ_RESRV_IDNMTY_AMT+
PREM_ADJ_SURCHRG_DTL.SUBJ_RESRV_EXPS_AMT "INCURRED LOSSES",
PREM_ADJ_SURCHRG_DTL.ERND_RETRO_PREM_AMT "CURR ERP", --??
CASE WHEN PREM_ADJ_SURCHRG_DTL.PREV_BILED_ERND_RETRO_PREM_AMT IS NULL THEN isnull(STD_SUBJ_PREM_AMT,0) ELSE isnull(PREM_ADJ_SURCHRG_DTL.PREV_BILED_ERND_RETRO_PREM_AMT,0) END "PREV ERP",
PREM_ADJ_SURCHRG_DTL.RETRO_RSLT "RETRO RESULT",
PREM_ADJ_SURCHRG_DTL.ADDN_SURCHRG_ASSES_CMPNT "ADDN SURCHARGE ASSESSMENT COMP",
PREM_ADJ_SURCHRG_DTL.TOT_SURCHRG_ASSES_BASE "TOTAL SURCHARGE ASSESSMENT BASE",
PREM_ADJ_SURCHRG_DTL.SURCHRG_RT "FACTOR",
isnull(PREM_ADJ_SURCHRG_DTL_AMT.OTHER_SURCHRG_AMT,0) "OTHER SURCHARGE AMOUNT",
round(-PREM_ADJ_SURCHRG_DTL.TOT_ADDN_RTN,0) "TOTAL ADDITIONAL RETURN",
PREM_ADJ_CMMNT.CMMNT_TXT "COMMENTS",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",'False' as IsRevised
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON 
PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID --AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_SURCHRG_DTL ON PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_SURCHRG_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_SURCHRG_DTL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID AND PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PGM_ID = PREM_ADJ_PERD.PREM_ADJ_PGM_ID
LEFT OUTER JOIN PREM_ADJ_SURCHRG_DTL_AMT ON PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_PERD_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID AND PREM_ADJ_SURCHRG_DTL_AMT.CUSTMR_ID = PREM_ADJ_SURCHRG_DTL.CUSTMR_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.COML_AGMT_ID = PREM_ADJ_SURCHRG_DTL.COML_AGMT_ID AND PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_PGM_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PGM_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.ST_ID = PREM_ADJ_SURCHRG_DTL.ST_ID AND PREM_ADJ_SURCHRG_DTL_AMT.LN_OF_BSN_ID = PREM_ADJ_SURCHRG_DTL.LN_OF_BSN_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.SURCHRG_CD_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_CD_ID AND PREM_ADJ_SURCHRG_DTL_AMT.SURCHRG_TYP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_TYP_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
INNER JOIN LKUP ST ON ST.LKUP_ID = PREM_ADJ_SURCHRG_DTL.ST_ID
INNER JOIN LKUP CD ON CD.LKUP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_CD_ID
INNER JOIN LKUP DESCRIP ON DESCRIP.LKUP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_TYP_ID
INNER JOIN LKUP ABBR ON ABBR.ATTR_1_TXT = DESCRIP.LKUP_TXT AND ABBR.LKUP_TYP_ID = 63
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ_CMMNT.PREM_ADJ_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 612
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND (isnull(PREM_ADJ_SURCHRG_DTL.SURCHRG_RT,0)<>0 OR isnull(ABS(PREM_ADJ_SURCHRG_DTL_AMT.OTHER_SURCHRG_AMT),0)<>0)
END
ELSE --If (@OldAdjID=0) 
BEGIN

SELECT DISTINCT count(*) over()  as TOTROWCOUNT,  CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
 WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
--INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
LKUP.LKUP_TXT "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
COML_AGMT.POL_SYM_TXT+COML_AGMT.POL_NBR_TXT+COML_AGMT.POL_MODULUS_TXT "POLICY NUMBER",
--(CASE WHEN dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID) IS NULL 
--THEN ' ' ELSE RIGHT(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID), LEN(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID))) END) "POLICIES",
COML_AGMT.POl_SYM_TXT + ' ' + RTRIM(COML_AGMT.POL_NBR_TXT) + '-' + COML_AGMT.POl_MODULUS_TXT "POLICIES",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
ST.ATTR_1_TXT+'-'+CD.LKUP_TXT+case when CD.LKUP_TXT = '931' then '**' when CD.LKUP_TXT = '0932' then '*' else '' end "STATE CD",
DESCRIP.LKUP_TXT "DESCRIPTION",
ST.ATTR_1_TXT+' '+ABBR.LKUP_TXT "ABBREV",
PREM_ADJ_SURCHRG_DTL.BASIC_AMT "BASIC AMT",
PREM_ADJ_SURCHRG_DTL.SUBJ_PAID_IDNMTY_AMT+PREM_ADJ_SURCHRG_DTL.SUBJ_PAID_EXPS_AMT+PREM_ADJ_SURCHRG_DTL.SUBJ_RESRV_IDNMTY_AMT+
PREM_ADJ_SURCHRG_DTL.SUBJ_RESRV_EXPS_AMT "INCURRED LOSSES",
PREM_ADJ_SURCHRG_DTL.ERND_RETRO_PREM_AMT "CURR ERP", --??
CASE WHEN PREM_ADJ_SURCHRG_DTL.PREV_BILED_ERND_RETRO_PREM_AMT IS NULL THEN isnull(STD_SUBJ_PREM_AMT,0) ELSE isnull(PREM_ADJ_SURCHRG_DTL.PREV_BILED_ERND_RETRO_PREM_AMT,0) END "PREV ERP",
PREM_ADJ_SURCHRG_DTL.RETRO_RSLT "RETRO RESULT",
PREM_ADJ_SURCHRG_DTL.ADDN_SURCHRG_ASSES_CMPNT "ADDN SURCHARGE ASSESSMENT COMP",
PREM_ADJ_SURCHRG_DTL.TOT_SURCHRG_ASSES_BASE "TOTAL SURCHARGE ASSESSMENT BASE",
PREM_ADJ_SURCHRG_DTL.SURCHRG_RT "FACTOR",
isnull(PREM_ADJ_SURCHRG_DTL_AMT.OTHER_SURCHRG_AMT,0) "OTHER SURCHARGE AMOUNT",
round(PREM_ADJ_SURCHRG_DTL.TOT_ADDN_RTN,0) "TOTAL ADDITIONAL RETURN",
PREM_ADJ_CMMNT.CMMNT_TXT "COMMENTS",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",'False' as IsRevised
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON 
PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID --AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_SURCHRG_DTL ON PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_SURCHRG_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_SURCHRG_DTL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID AND PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PGM_ID = PREM_ADJ_PERD.PREM_ADJ_PGM_ID
LEFT OUTER JOIN PREM_ADJ_SURCHRG_DTL_AMT ON PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_PERD_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID AND PREM_ADJ_SURCHRG_DTL_AMT.CUSTMR_ID = PREM_ADJ_SURCHRG_DTL.CUSTMR_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.COML_AGMT_ID = PREM_ADJ_SURCHRG_DTL.COML_AGMT_ID AND PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_PGM_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PGM_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.ST_ID = PREM_ADJ_SURCHRG_DTL.ST_ID AND PREM_ADJ_SURCHRG_DTL_AMT.LN_OF_BSN_ID = PREM_ADJ_SURCHRG_DTL.LN_OF_BSN_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.SURCHRG_CD_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_CD_ID AND PREM_ADJ_SURCHRG_DTL_AMT.SURCHRG_TYP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_TYP_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
INNER JOIN LKUP ST ON ST.LKUP_ID = PREM_ADJ_SURCHRG_DTL.ST_ID
INNER JOIN LKUP CD ON CD.LKUP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_CD_ID
INNER JOIN LKUP DESCRIP ON DESCRIP.LKUP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_TYP_ID
INNER JOIN LKUP ABBR ON ABBR.ATTR_1_TXT = DESCRIP.LKUP_TXT AND ABBR.LKUP_TYP_ID = 63
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ_CMMNT.PREM_ADJ_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 612
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO AND (isnull(PREM_ADJ_SURCHRG_DTL.SURCHRG_RT,0)<>0 OR isnull(ABS(PREM_ADJ_SURCHRG_DTL_AMT.OTHER_SURCHRG_AMT),0)<>0)

END

END TRY
BEGIN CATCH

	SELECT 
    ERROR_NUMBER() AS ERRORNUMBER,
    ERROR_SEVERITY() AS ERRORSEVERITY,
    ERROR_STATE() AS ERRORSTATE,
    ERROR_PROCEDURE() AS ERRORPROCEDURE,
    ERROR_LINE() AS ERRORLINE,
    ERROR_MESSAGE() AS ERRORMESSAGE;


END CATCH

END

GO

IF OBJECT_ID('GetSurchargesAssessments') IS NOT NULL
	PRINT 'CREATED PROCEDURE GetSurchargesAssessments'
ELSE
	PRINT 'FAILED CREATING PROCEDURE GetSurchargesAssessments'
GO

IF OBJECT_ID('GetSurchargesAssessments') IS NOT NULL
	GRANT EXEC ON GetSurchargesAssessments TO PUBLIC
GO

