
IF EXISTS (SELECT 1 FROM sysobjects 
	WHERE NAME = 'GetLBA' and TYPE = 'P')
	DROP PROC GetLBA
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------
-----
-----	PROC NAME:		GetLBA
-----
-----	VERSION:		SQL SERVER 2005
-----
-----	AUTHOR :		SUNEEL KUMAR MOGALI
-----
-----	DESCRIPTION:	RETURNS DATA FOR GIVEN DIFFERENT PARAMETERS IN INVOICE.
-----			
-----	ON EXIT:	
-----			
-----
-----	MODIFIED:	
-----			
----- 
---------------------------------------------------------------------

CREATE PROCEDURE [dbo].[GetLBA]
@ADJNO INT,
@FLAG INT,
@HISTFLAG BIT

AS
BEGIN

-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
SET NOCOUNT ON;


BEGIN TRY

SELECT DISTINCT CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
 WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
--PREM_ADJ.FNL_PAYMT_DUE_DT "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CASE WHEN PREM_ADJ_PGM_SETUP.INCLD_ERND_RETRO_PREM_IND = 1 
THEN LKUP2.LKUP_TXT+'('+CASE WHEN PGMTYP.LKUP_TXT LIKE 'NON-DEP%' THEN 'Retro' ELSE PGMTYP.LKUP_TXT END +')'  ELSE 
'LBA Only' END "ADJUSTMENT TYPE",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
PREM_ADJ_PGM_SETUP.INCLD_ERND_RETRO_PREM_IND "INCLUDED ERP",
--INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
CASE WHEN PREM_ADJ_PGM_SETUP.los_base_asses_adj_typ_id = 297 THEN 'Incurred' 
WHEN PREM_ADJ_PGM_SETUP.los_base_asses_adj_typ_id = 298 THEN 'Paid' ELSE '' END "PAIDINCURRED",
CASE WHEN substring(PGMTYP.LKUP_TXT,1,3) = 'DEP' THEN dbo.fn_GetDEPMasterPolicy(PREM_ADJ_PERD.PREM_ADJ_ID,PREM_ADJ_PERD.PREM_ADJ_PGM_ID) ELSE
 COML_AGMT.POL_SYM_TXT + ' '+ RTRIM(COML_AGMT.POL_NBR_TXT)+ '-' +COML_AGMT.POL_MODULUS_TXT END "POLICY NUMBER",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
LKUP.ATTR_1_TXT "STATE",
CASE PREM_ADJ_PARMET_DTL.LOS_BASE_ASSES_RT WHEN NULL THEN 0 ELSE PREM_ADJ_PARMET_DTL.LOS_BASE_ASSES_RT END "RATE",
PREM_ADJ_PARMET_DTL.los_base_asses_amt "ASSESSMENT AMOUNT",
--CASE WHEN substring(PGMTYP.LKUP_TXT,1,3) = 'DEP' THEN PREM_ADJ_PARMET_DTL.los_base_asses_amt/
--dbo.fn_GetDEPNumberPolicy(PREM_ADJ_PARMET_DTL.prem_adj_id,PREM_ADJ_PARMET_DTL.prem_adj_pgm_id,
--PREM_ADJ_PARMET_DTL.custmr_id,PREM_ADJ_PARMET_DTL.st_id) 
--ELSE PREM_ADJ_PARMET_DTL.los_base_asses_amt END "ASSESSMENT AMOUNT",
PREM_ADJ_PGM_SETUP.LOS_BASE_ASSES_ADJ_TYP_ID "LOSBASE ID",
PREM_ADJ_PARMET_DTL.LOS_AMT "PAID/INCURRED LOSS",
isnull(PREM_ADJ_PARMET_SETUP.LOS_BASE_ASSES_DEPST_AMT,0) "LBA DEPOSIT",
isnull(PREM_ADJ_PARMET_SETUP.LOS_BASE_ASSES_PREV_BILED_AMT ,0) "PREVIOUS LOSS BASED ASSESSMENTS",
isnull(PREM_ADJ_PARMET_SETUP.LOS_BASE_ASSES_AMT,0) - 
isnull(PREM_ADJ_PARMET_SETUP.LOS_BASE_ASSES_DEPST_AMT,0) - 
isnull(PREM_ADJ_PARMET_SETUP.LOS_BASE_ASSES_PREV_BILED_AMT,0) "AMOUNT INVOICED",
isnull(PREM_ADJ_PARMET_SETUP.LOS_BASE_ASSES_AMT,0) "LOSS BASED ASSESSMENTS TOTAL",
isnull(PREM_ADJ_PARMET_SETUP.LOS_BASE_ASSES_AMT,0) - 
isnull(PREM_ADJ_PARMET_SETUP.LOS_BASE_ASSES_PREV_BILED_AMT,0) "CURRENT LOSS BASED ASSESSMENTS",
PREM_ADJ_CMMNT.CMMNT_TXT "COMMENTS",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID"
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN PREM_ADJ_PGM_SETUP ON PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID 
AND PREM_ADJ_PGM_SETUP.CUSTMR_ID = PREM_ADJ_PERD.CUSTMR_ID and PREM_ADJ_PGM_SETUP.actv_ind = 1
INNER JOIN COML_AGMT ON COML_AGMT.CUSTMR_ID = PREM_ADJ_PERD.CUSTMR_ID 
AND COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PARMET_SETUP ON PREM_ADJ_PARMET_SETUP.CUSTMR_ID = PREM_ADJ_PERD.CUSTMR_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PGM_SETUP_ID = PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_SETUP_ID
INNER JOIN PREM_ADJ_PARMET_DTL ON PREM_ADJ_PARMET_DTL.PREM_ADJ_PARMET_SETUP_ID = PREM_ADJ_PARMET_SETUP.PREM_ADJ_PARMET_SETUP_ID
AND PREM_ADJ_PARMET_DTL.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_PARMET_DTL.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PARMET_DTL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PARMET_DTL.ST_ID
INNER JOIN PREM_ADJ_PGM_SETUP_POL ON PREM_ADJ_PGM_SETUP_POL.PREM_ADJ_PGM_SETUP_ID =
PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_SETUP_ID AND PREM_ADJ_PGM_SETUP_POL.PREM_ADJ_PGM_ID =
PREM_ADJ_PGM.PREM_ADJ_PGM_ID AND PREM_ADJ_PGM_SETUP_POL.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_PGM_SETUP_POL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
--INNER JOIN LKUP LKUP1 ON LKUP1.LKUP_ID = PREM_ADJ_PGM_SETUP.LOS_BASE_ASSES_ADJ_TYP_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID 
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 320
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID 
INNER JOIN LKUP LKUP2 ON LKUP2.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO --AND COML_AGMT.ADJ_TYP_ID NOT IN (68) -- 62(Escrow) is removed from this condition as per anil discussed on 19 Feb 2009.
AND PREM_ADJ_PGM_SETUP.ADJ_PARMET_TYP_ID = 401
ORDER BY LKUP.ATTR_1_TXT ASC



END TRY
BEGIN CATCH

	

	SELECT 
    ERROR_NUMBER() AS ERRORNUMBER,
    ERROR_SEVERITY() AS ERRORSEVERITY,
    ERROR_STATE() AS ERRORSTATE,
    ERROR_PROCEDURE() AS ERRORPROCEDURE,
    ERROR_LINE() AS ERRORLINE,
    ERROR_MESSAGE() AS ERRORMESSAGE;


END CATCH
END

GO

IF OBJECT_ID('GetLBA') IS NOT NULL
	PRINT 'CREATED PROCEDURE GetLBA'
ELSE
	PRINT 'FAILED CREATING PROCEDURE GetLBA'
GO

IF OBJECT_ID('GetLBA') IS NOT NULL
	GRANT EXEC ON GetLBA TO PUBLIC
GO










