
IF EXISTS (SELECT 1 FROM sysobjects 
	WHERE NAME = 'GetMainReport' and TYPE = 'P')
	DROP PROC GetMainReport
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------
-----
-----	PROC NAME:		GetMainReport
-----
-----	VERSION:		SQL SERVER 2005
-----
-----	AUTHOR :		SUNEEL KUMAR MOGALI
-----
-----	DESCRIPTION:	RETURNS DATA WITH RESPECT TO THE GIVEN INVOICE NUMBER.
-----			
-----	ON EXIT:	
-----			
-----
-----	MODIFIED:	
-----			
----- 
---------------------------------------------------------------------

CREATE PROCEDURE [dbo].[GetMainReport]
@ADJNO INT,
@FLAG INT

AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
SET NOCOUNT ON;


BEGIN TRY

SELECT 
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'Escrow' "Report Name"
INTO #tmpEscrow
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN PREM_ADJ_PGM_SETUP ON PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_SETUP.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PARMET_SETUP ON PREM_ADJ_PARMET_SETUP.PREM_ADJ_PERD_ID = 
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PARMET_SETUP.CUSTMR_ID = CUSTMR.CUSTMR_ID 
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PGM_SETUP_ID = PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_SETUP_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PGM_SETUP_POL ON PREM_ADJ_PGM_SETUP_POL.PREM_ADJ_PGM_SETUP_ID =
PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_SETUP_ID AND PREM_ADJ_PGM_SETUP_POL.PREM_ADJ_PGM_ID =
PREM_ADJ_PGM.PREM_ADJ_PGM_ID AND PREM_ADJ_PGM_SETUP_POL.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_PGM_SETUP_POL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID 
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 317
INNER JOIN LKUP on LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO and PREM_ADJ_PGM_SETUP.ADJ_PARMET_TYP_ID = 399

SELECT 
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'Cumulative Worksheet' "Report Name"
Into #tmpCumulative
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN PREM_ADJ_PAID_LOS_BIL ON PREM_ADJ_PAID_LOS_BIL.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PAID_LOS_BIL.CUSTMR_ID = CUSTMR.CUSTMR_ID 
AND PREM_ADJ_PAID_LOS_BIL.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_PGM.LSI_RETRIEVE_FROM_DT <= PREM_ADJ_PAID_LOS_BIL.LSI_VALN_DT 
AND PREM_ADJ_PAID_LOS_BIL.LSI_VALN_DT <= PREM_ADJ.VALN_DT
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PAID_LOS_BIL.LN_OF_BSN_ID 
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP LKUP1 ON LKUP1.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
GROUP BY PREM_ADJ_PAID_LOS_BIL.LSI_VALN_DT,PREM_ADJ.DRFT_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_DT,DRFT_INVC_NBR_TXT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,PREM_ADJ.VALN_DT,
CUSTMR.FULL_NM,PREM_ADJ_PGM.BRKR_ID,PGMTYP.LKUP_TXT,
EXTRNL_ORG.FULL_NAME,PREM_ADJ_PAID_LOS_BIL.LSI_VALN_DT,PREM_ADJ_PAID_LOS_BIL.LN_OF_BSN_ID,
LKUP.LKUP_TXT,PREM_ADJ_PAID_LOS_BIL.LSI_PGM_TYP_TXT,PREM_ADJ_PGM.PREV_VALN_DT,PREM_ADJ_PGM.NXT_VALN_DT,
LKUP1.LKUP_TXT,PREM_ADJ_PERD.ADJ_NBR_TXT,PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_PAID_LOS_BIL.LSI_SRC,PREM_ADJ_PGM.PREM_ADJ_PGM_ID
ORDER BY PREM_ADJ_PAID_LOS_BIL.LSI_VALN_DT DESC


SELECT 
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'KY & OR' "Report Name"
Into #tmpKYOR
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID 
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 340
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (20,40) and PREM_ADJ_PGM.PGM_TYP_ID<> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,PGMTYP.LKUP_TXT,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID,LKUP.LKUP_TXT,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,PREM_ADJ_CMMNT.CMMNT_TXT
ORDER BY COML_AGMT.COML_AGMT_ID

SELECT DISTINCT PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'LBA' "Report Name"
Into #tmpLBA
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN PREM_ADJ_PGM_SETUP ON PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID 
AND PREM_ADJ_PGM_SETUP.CUSTMR_ID = PREM_ADJ_PERD.CUSTMR_ID and PREM_ADJ_PGM_SETUP.actv_ind = 1
INNER JOIN COML_AGMT ON COML_AGMT.CUSTMR_ID = PREM_ADJ_PERD.CUSTMR_ID 
AND COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PARMET_SETUP ON PREM_ADJ_PARMET_SETUP.CUSTMR_ID = PREM_ADJ_PERD.CUSTMR_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PGM_SETUP_ID = PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_SETUP_ID
INNER JOIN PREM_ADJ_PARMET_DTL ON PREM_ADJ_PARMET_DTL.PREM_ADJ_PARMET_SETUP_ID = PREM_ADJ_PARMET_SETUP.PREM_ADJ_PARMET_SETUP_ID
AND PREM_ADJ_PARMET_DTL.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_PARMET_DTL.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PARMET_DTL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PARMET_DTL.ST_ID
INNER JOIN PREM_ADJ_PGM_SETUP_POL ON PREM_ADJ_PGM_SETUP_POL.PREM_ADJ_PGM_SETUP_ID =
PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_SETUP_ID AND PREM_ADJ_PGM_SETUP_POL.PREM_ADJ_PGM_ID =
PREM_ADJ_PGM.PREM_ADJ_PGM_ID AND PREM_ADJ_PGM_SETUP_POL.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_PGM_SETUP_POL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID 
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 320
INNER JOIN LKUP LKUP2 ON LKUP2.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND PREM_ADJ_PGM_SETUP.ADJ_PARMET_TYP_ID = 401

SELECT  CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
 WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.mstr_acct_ind "MSTR IND",
CUSTMR.FULL_NM "INSURED NAME",
INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PERD.PREM_ADJ_PERD_ID "PREM ADJ PERD ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
#tmpKYOR."PREM ADJ ID" "KY OR ADJ ID",
case when #tmpKYOR."PREM ADJ PGM ID" is null then 0 else #tmpKYOR."PREM ADJ PGM ID" end "KY OR PGM ID",
#tmpCumulative."PREM ADJ ID" "CUMULATIVE ADJ ID",
case when #tmpCumulative."PREM ADJ PGM ID" is null then 0 else #tmpCumulative."PREM ADJ PGM ID" end "CUMULATIVE PGM ID",
#tmpEscrow."PREM ADJ ID" "ESCROW ADJ ID",
case when #tmpEscrow."PREM ADJ PGM ID" is null then 0 else #tmpEscrow."PREM ADJ PGM ID" end "ESCROW PGM ID",
#tmpLBA."PREM ADJ ID" "LBA ADJ ID",
case when #tmpLBA."PREM ADJ PGM ID" is null then 0 else #tmpLBA."PREM ADJ PGM ID" end "LBA PGM ID"
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
LEFT OUTER JOIN #tmpKYOR ON #tmpKYOR."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpKYOR."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 
LEFT OUTER JOIN #tmpCumulative ON #tmpCumulative."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpCumulative."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 
LEFT OUTER JOIN #tmpEscrow ON #tmpEscrow."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpEscrow."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 
LEFT OUTER JOIN #tmpLBA ON #tmpLBA."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpLBA."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 
  WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
ORDER BY PREM_ADJ_PGM.STRT_DT DESC

drop table #tmpKYOR
drop table #tmpCumulative
drop table #tmpEscrow
drop table #tmpLBA

END TRY
BEGIN CATCH

	
	SELECT 
    ERROR_NUMBER() AS ERRORNUMBER,
    ERROR_SEVERITY() AS ERRORSEVERITY,
    ERROR_STATE() AS ERRORSTATE,
    ERROR_PROCEDURE() AS ERRORPROCEDURE,
    ERROR_LINE() AS ERRORLINE,
    ERROR_MESSAGE() AS ERRORMESSAGE;


END CATCH
END

GO

IF OBJECT_ID('GetMainReport') IS NOT NULL
	PRINT 'CREATED PROCEDURE GetMainReport'
ELSE
	PRINT 'FAILED CREATING PROCEDURE GetMainReport'
GO

IF OBJECT_ID('GetMainReport') IS NOT NULL
	GRANT EXEC ON GetMainReport TO PUBLIC
GO










