
IF EXISTS (SELECT 1 FROM sysobjects 
	WHERE NAME = 'GetMainReport' and TYPE = 'P')
	DROP PROC GetMainReport
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------
-----
-----	PROC NAME:		GetMainReport
-----
-----	VERSION:		SQL SERVER 2005
-----
-----	AUTHOR :		SUNEEL KUMAR MOGALI
-----
-----	DESCRIPTION:	RETURNS DATA WITH RESPECT TO THE GIVEN INVOICE NUMBER.
-----			
-----	ON EXIT:	
-----			
-----
-----	MODIFIED:	
----- 12 July 2014 - Rajaji - Added CompanyCode,CurrencyCode columns 			
----- 
---------------------------------------------------------------------

CREATE PROCEDURE [dbo].[GetMainReport]
@ADJNO INT,
@FLAG INT

AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
SET NOCOUNT ON;


BEGIN TRY

DECLARE  @SUMMARY TABLE (
												
INVOICENUMBER NVARCHAR(100),
INVOICEDATE DATETIME,
PGMPERIOD NVARCHAR(50),
VALDATE DATETIME,
INSURED NVARCHAR(200),
BUOFFICE NVARCHAR(150),
BROKERID INT,
BROKER NVARCHAR(100),
ADJTYP NVARCHAR(100),
ADJNUM VARCHAR(50),
PREMADJID INT,
PREMADJPGMID INT,
POLICY BIGINT,
POLICYNUMBER VARCHAR(50),
POLICYPRD NVARCHAR(50),
STAT NVARCHAR(50),
RETRORSLT DECIMAL(15,2),
PRVADJ DECIMAL(15,2),
ISREVISED NVARCHAR(10),
CompanyCode VARCHAR(256),
CurrencyCode  VARCHAR(256)
)
INSERT @SUMMARY (INVOICENUMBER,INVOICEDATE,PGMPERIOD,VALDATE,INSURED,BUOFFICE,BROKERID,BROKER,ADJTYP,ADJNUM,PREMADJID,PREMADJPGMID,POLICY,POLICYNUMBER,POLICYPRD,STAT,RETRORSLT,PRVADJ,ISREVISED,CompanyCode,CurrencyCode)
EXEC GetCesarCodingWorksheet @ADJNO,@FLAG,'false'
SELECT DISTINCT  
PREMADJID "PREM ADJ ID",
PREMADJPGMID "PREM ADJ PGM ID",
'Cesar' "Report Name"
INTO #tmpCesar 
FROM @SUMMARY



SELECT  
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'Loss Fund' "Report Name"
INTO #tmpEscrow
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN PREM_ADJ_PGM_SETUP ON PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_SETUP.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PARMET_SETUP ON PREM_ADJ_PARMET_SETUP.PREM_ADJ_PERD_ID = 
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PARMET_SETUP.CUSTMR_ID = CUSTMR.CUSTMR_ID 
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PGM_SETUP_ID = PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_SETUP_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PGM_SETUP_POL ON PREM_ADJ_PGM_SETUP_POL.PREM_ADJ_PGM_SETUP_ID =
PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_SETUP_ID AND PREM_ADJ_PGM_SETUP_POL.PREM_ADJ_PGM_ID =
PREM_ADJ_PGM.PREM_ADJ_PGM_ID AND PREM_ADJ_PGM_SETUP_POL.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_PGM_SETUP_POL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID 
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 317
INNER JOIN LKUP on LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO and PREM_ADJ_PGM_SETUP.ADJ_PARMET_TYP_ID = 399

SELECT 
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'Paid Loss Billings for Current Adjustment Period' "Report Name"
Into #tmpCumulative
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN PREM_ADJ_PAID_LOS_BIL ON PREM_ADJ_PAID_LOS_BIL.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PAID_LOS_BIL.CUSTMR_ID = CUSTMR.CUSTMR_ID 
AND PREM_ADJ_PAID_LOS_BIL.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_PGM.LSI_RETRIEVE_FROM_DT <= PREM_ADJ_PAID_LOS_BIL.LSI_VALN_DT 
AND PREM_ADJ_PAID_LOS_BIL.LSI_VALN_DT <= PREM_ADJ.VALN_DT
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PAID_LOS_BIL.LN_OF_BSN_ID 
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP LKUP1 ON LKUP1.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
GROUP BY PREM_ADJ_PAID_LOS_BIL.LSI_VALN_DT,PREM_ADJ.DRFT_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_DT,DRFT_INVC_NBR_TXT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,PREM_ADJ.VALN_DT,
CUSTMR.FULL_NM,PREM_ADJ_PGM.BRKR_ID,PGMTYP.LKUP_TXT,
EXTRNL_ORG.FULL_NAME,PREM_ADJ_PAID_LOS_BIL.LSI_VALN_DT,PREM_ADJ_PAID_LOS_BIL.LN_OF_BSN_ID,
LKUP.LKUP_TXT,PREM_ADJ_PAID_LOS_BIL.LSI_PGM_TYP_TXT,PREM_ADJ_PGM.PREV_VALN_DT,PREM_ADJ_PGM.NXT_VALN_DT,
LKUP1.LKUP_TXT,PREM_ADJ_PERD.ADJ_NBR_TXT,PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_PAID_LOS_BIL.LSI_SRC,PREM_ADJ_PGM.PREM_ADJ_PGM_ID
ORDER BY PREM_ADJ_PAID_LOS_BIL.LSI_VALN_DT DESC

SELECT DISTINCT PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'LBA' "Report Name"
Into #tmpLBA
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN PREM_ADJ_PGM_SETUP ON PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID 
AND PREM_ADJ_PGM_SETUP.CUSTMR_ID = PREM_ADJ_PERD.CUSTMR_ID and PREM_ADJ_PGM_SETUP.actv_ind = 1
INNER JOIN COML_AGMT ON COML_AGMT.CUSTMR_ID = PREM_ADJ_PERD.CUSTMR_ID 
AND COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID --AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PARMET_SETUP ON PREM_ADJ_PARMET_SETUP.CUSTMR_ID = PREM_ADJ_PERD.CUSTMR_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PGM_SETUP_ID = PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_SETUP_ID
INNER JOIN PREM_ADJ_PARMET_DTL ON PREM_ADJ_PARMET_DTL.PREM_ADJ_PARMET_SETUP_ID = PREM_ADJ_PARMET_SETUP.PREM_ADJ_PARMET_SETUP_ID
AND PREM_ADJ_PARMET_DTL.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_PARMET_DTL.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PARMET_DTL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PARMET_DTL.ST_ID
INNER JOIN PREM_ADJ_PGM_SETUP_POL ON PREM_ADJ_PGM_SETUP_POL.PREM_ADJ_PGM_SETUP_ID =
PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_SETUP_ID AND PREM_ADJ_PGM_SETUP_POL.PREM_ADJ_PGM_ID =
PREM_ADJ_PGM.PREM_ADJ_PGM_ID AND PREM_ADJ_PGM_SETUP_POL.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_PGM_SETUP_POL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID 
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 320
INNER JOIN LKUP LKUP2 ON LKUP2.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND PREM_ADJ_PGM_SETUP.ADJ_PARMET_TYP_ID = 401


SELECT 
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'Surcharge' "Report Name"
INTO #tmpSurcharge
FROM PREM_ADJ
INNER JOIN PREM_ADJ_PGM ON 
PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID --AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_SURCHRG_DTL ON PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_SURCHRG_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_SURCHRG_DTL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID AND PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PGM_ID = PREM_ADJ_PERD.PREM_ADJ_PGM_ID
LEFT OUTER JOIN PREM_ADJ_SURCHRG_DTL_AMT ON PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_PERD_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID AND PREM_ADJ_SURCHRG_DTL_AMT.CUSTMR_ID = PREM_ADJ_SURCHRG_DTL.CUSTMR_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.COML_AGMT_ID = PREM_ADJ_SURCHRG_DTL.COML_AGMT_ID AND PREM_ADJ_SURCHRG_DTL_AMT.PREM_ADJ_PGM_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PGM_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.ST_ID = PREM_ADJ_SURCHRG_DTL.ST_ID AND PREM_ADJ_SURCHRG_DTL_AMT.LN_OF_BSN_ID = PREM_ADJ_SURCHRG_DTL.LN_OF_BSN_ID
AND PREM_ADJ_SURCHRG_DTL_AMT.SURCHRG_CD_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_CD_ID AND PREM_ADJ_SURCHRG_DTL_AMT.SURCHRG_TYP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_TYP_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
INNER JOIN LKUP ST ON ST.LKUP_ID = PREM_ADJ_SURCHRG_DTL.ST_ID
INNER JOIN LKUP CD ON CD.LKUP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_CD_ID
INNER JOIN LKUP DESCRIP ON DESCRIP.LKUP_ID = PREM_ADJ_SURCHRG_DTL.SURCHRG_TYP_ID
INNER JOIN LKUP ABBR ON ABBR.ATTR_1_TXT = DESCRIP.LKUP_TXT AND ABBR.LKUP_TYP_ID = 63
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ_CMMNT.PREM_ADJ_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_ID
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_SURCHRG_DTL.PREM_ADJ_PERD_ID
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 612 
WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND (isnull(PREM_ADJ_SURCHRG_DTL.SURCHRG_RT,0)<>0 OR isnull(ABS(PREM_ADJ_SURCHRG_DTL_AMT.OTHER_SURCHRG_AMT),0)<>0)

SELECT DISTINCT PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'ExcessLoss' "Report Name"
Into #tmpExcessLoss
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID AND COML_AGMT.ACTV_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = COML_AGMT.COVG_TYP_ID
INNER JOIN ARMIS_LOS_POL ON ARMIS_LOS_POL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND ARMIS_LOS_POL.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND ARMIS_LOS_POL.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND ARMIS_LOS_POL.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND ARMIS_LOS_POL.ACTV_IND = 1
INNER JOIN ARMIS_LOS_EXC ON ARMIS_LOS_EXC.ARMIS_LOS_POL_ID = ARMIS_LOS_POL.ARMIS_LOS_POL_ID
AND ARMIS_LOS_EXC.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND ARMIS_LOS_EXC.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND ARMIS_LOS_EXC.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND ARMIS_LOS_EXC.ACTV_IND = 1
INNER JOIN LKUP LKUP1 ON LKUP1.LKUP_ID = ARMIS_LOS_POL.ST_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID 
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 450
INNER JOIN LKUP LKUP2 ON LKUP2.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
INNER JOIN LKUP COMLADJTYP ON COMLADJTYP.LKUP_ID = COML_AGMT.ADJ_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 

SELECT DISTINCT *
Into #tmptexasTax
FROM
(SELECT DISTINCT PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'TexasTax' "Report Name"
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--LEFT OUTER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM_SETUP.INCUR_BUT_NOT_RPTD_LOS_DEV_FCTR_ID
LEFT OUTER JOIN PREM_ADJ_TAX_SETUP ON 
PREM_ADJ_TAX_SETUP.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID AND 
PREM_ADJ_TAX_SETUP.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND 
PREM_ADJ_TAX_SETUP.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID AND
PREM_ADJ_TAX_SETUP.CUSTMR_ID = CUSTMR.CUSTMR_ID
LEFT OUTER JOIN LKUP LOB ON LOB.LKUP_ID = PREM_ADJ_TAX_SETUP.LN_OF_BSN_ID
LEFT OUTER JOIN LKUP ST ON ST.LKUP_ID = PREM_ADJ_TAX_SETUP.ST_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
LEFT OUTER JOIN LKUP DESCR ON DESCR.ATTR_1_TXT = ST.ATTR_1_TXT AND DESCR.LKUP_TYP_ID =  53
LEFT OUTER JOIN LKUP TAXCMPNT ON RTRIM(TAXCMPNT.ATTR_1_TXT) = RTRIM(DESCR.LKUP_TXT) AND TAXCMPNT.LKUP_TYP_ID =  55
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID 
--AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = @CMTCATGID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO AND PREM_ADJ_TAX_SETUP.ST_SLS_SERV_FEE_TAX IS NOT NULL
 AND (PREM_ADJ_TAX_SETUP.ST_SLS_SERV_FEE_TAX IS NOT NULL OR convert(decimal,dbo.fn_GetTexasTaxPrevAmt(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID)) IS NOT NULL)
--ORDER BY CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) DESC,
--ST.ATTR_1_TXT ASC,LOB.LKUP_TXT ASC,"TAX RATE" ASC,"INDICATOR" Desc
uNION ALL
SELECT DISTINCT PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'TexasTax' "Report Name"
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--LEFT OUTER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM_SETUP.INCUR_BUT_NOT_RPTD_LOS_DEV_FCTR_ID
LEFT OUTER JOIN PREM_ADJ_TAX_DTL ON PREM_ADJ_TAX_DTL.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID AND 
PREM_ADJ_TAX_DTL.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND 
PREM_ADJ_TAX_DTL.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID AND
PREM_ADJ_TAX_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
LEFT OUTER JOIN LKUP LOB ON LOB.LKUP_ID = PREM_ADJ_TAX_DTL.LN_OF_BSN_ID
LEFT OUTER JOIN LKUP ST ON ST.LKUP_ID = PREM_ADJ_TAX_DTL.ST_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
LEFT OUTER JOIN LKUP DESCR ON DESCR.ATTR_1_TXT = ST.ATTR_1_TXT AND DESCR.LKUP_TYP_ID =  53
LEFT OUTER JOIN LKUP DEDTAXCOMP ON DEDTAXCOMP.LKUP_ID = PREM_ADJ_TAX_DTL.DEDTBL_TAX_CMPNT_ID
LEFT OUTER JOIN LKUP TAXCMPNT ON TAXCMPNT.ATTR_1_TXT = DESCR.LKUP_TXT 
AND substring(TAXCMPNT.LKUP_TXT,1,4) = case when len(DEDTAXCOMP.LKUP_TXT) = 3 then DEDTAXCOMP.LKUP_TXT+' ' else DEDTAXCOMP.LKUP_TXT end
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID 
--AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = @CMTCATGID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO
 AND (PREM_ADJ_TAX_DTL.TAX_AMT IS NOT NULL OR convert(decimal,dbo.fn_GetTexasTaxPrevAmt(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID)) IS NOT NULL)
 group by PREM_ADJ.DRFT_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,PREM_ADJ_PERD.ADJ_NBR_TXT,PREM_ADJ_PGM.PREV_VALN_DT,PREM_ADJ_PGM.NXT_VALN_DT,
PREM_ADJ_PERD.PREM_ADJ_PERD_ID,LOB.LKUP_TXT,ST.ATTR_1_TXT,PREM_ADJ_TAX_DTL.TAX_RT,DESCR.LKUP_TXT,TAXCMPNT.LKUP_TXT,
PREM_ADJ_CMMNT.CMMNT_TXT,PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,LOB.LKUP_ID,ST.LKUP_ID) AS TMP

SELECT DISTINCT PREM_ADJ_RETRO_DTL.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_RETRO_DTL.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'RetroPrem' "Report Name"
Into #tmpRetroPrem
FROM PREM_ADJ_RETRO_DTL 
--INNER JOIN PREM_ADJ_PERD 
--ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ_RETRO_DTL.PREM_ADJ_ID
--AND PREM_ADJ_PERD.CUSTMR_ID = PREM_ADJ_RETRO_DTL.CUSTMR_ID 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN COML_AGMT ON COML_AGMT.COML_AGMT_ID = PREM_ADJ_RETRO_DTL.COML_AGMT_ID AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
WHERE PREM_ADJ_RETRO_DTL.PREM_ADJ_ID =  @ADJNO 
GROUP BY PREM_ADJ_RETRO_DTL.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.PREM_ADJ_PGM_ID

SELECT DISTINCT PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'RetroLegend' "Report Name"
Into #tmpRetroLegend
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ_PERD.PREM_ADJ_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PERD.PREM_ADJ_PGM_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID AND COML_AGMT.ACTV_IND = 1
AND COML_AGMT.COML_AGMT_ID = PREM_ADJ_RETRO.COML_AGMT_ID
LEFT OUTER JOIN LKUP LKUP1 ON LKUP1.LKUP_ID = COML_AGMT.ALOC_LOS_ADJ_EXPS_TYP_ID
LEFT OUTER JOIN LKUP LKUP2 ON LKUP2.LKUP_ID = COML_AGMT.LOS_SYS_SRC_ID
INNER JOIN COML_AGMT_AUDT ON COML_AGMT_AUDT.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND COML_AGMT_AUDT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT_AUDT.CUSTMR_ID = CUSTMR.CUSTMR_ID
LEFT OUTER JOIN NON_SUBJ_PREM_AUDT ON NON_SUBJ_PREM_AUDT.COML_AGMT_AUDT_ID = COML_AGMT_AUDT.COML_AGMT_AUDT_ID
AND NON_SUBJ_PREM_AUDT.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND NON_SUBJ_PREM_AUDT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND NON_SUBJ_PREM_AUDT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND NON_SUBJ_PREM_AUDT.ACTV_IND = 1
LEFT OUTER JOIN LKUP LKUP3 ON LKUP3.LKUP_ID = NON_SUBJ_PREM_AUDT.NSA_TYP_ID
INNER JOIN LKUP LKUP4 ON LKUP4.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
OUTER APPLY dbo.fn_GetTotOfAuditPrem(PREM_ADJ_PERD.CUSTMR_ID,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,PREM_ADJ_RETRO.PREM_ADJ_ID,COML_AGMT.COML_AGMT_ID) AS AUD
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND (COML_AGMT_AUDT.AUDT_REVD_STS_IND = 0 OR COML_AGMT_AUDT.AUDT_REVD_STS_IND IS NULL)
AND COML_AGMT.ADJ_TYP_ID NOT IN (69,64,68,62,448)
GROUP BY COML_AGMT_AUDT.COML_AGMT_ID,PREM_ADJ.DRFT_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_DT,DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,PREM_ADJ_PGM.BRKR_ID,PGMTYP.LKUP_TXT,
LKUP4.LKUP_TXT,EXTRNL_ORG.FULL_NAME,PREM_ADJ_PERD.ADJ_NBR_TXT,PREM_ADJ_PGM.PREV_VALN_DT,
PREM_ADJ_PGM.NXT_VALN_DT,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,
COML_AGMT.POL_SYM_TXT,COML_AGMT.POL_NBR_TXT,COML_AGMT.POL_MODULUS_TXT,PREM_ADJ_PGM.PGM_TYP_ID,
LKUP.LKUP_TXT,LKUP4.LKUP_TXT,PREM_ADJ_PGM.INCUR_CONV_MMS_CNT,PREM_ADJ_PGM.STRT_DT,
COML_AGMT.DEDTBL_POL_LIM_AMT,COML_AGMT.UNLIM_DEDTBL_POL_LIM_IND,COML_AGMT.ALOC_LOS_ADJ_EXPS_TYP_ID,
LKUP1.LKUP_TXT,COML_AGMT.LOS_SYS_SRC_ID,LKUP2.LKUP_TXT,COML_AGMT_AUDT.STRT_DT,
COML_AGMT_AUDT.EXPO_AMT,COML_AGMT_AUDT.SUBJ_AUDT_PREM_AMT,NON_SUBJ_PREM_AUDT.NSA_TYP_ID,
PREM_ADJ_PERD.PREM_ADJ_PERD_ID,LKUP3.ATTR_1_TXT,NON_SUBJ_PREM_AUDT.NON_SUBJ_AUDT_PREM_AMT,
COML_AGMT_AUDT.SUBJ_AUDT_PREM_AMT,COML_AGMT_AUDT.NON_SUBJ_AUDT_PREM_AMT,COML_AGMT.COML_AGMT_ID,
COML_AGMT_AUDT.AUDT_RSLT_AMT,COML_AGMT_AUDT.SUBJ_DEPST_PREM_AMT,CUSTMR.CUSTMR_ID,
COML_AGMT_AUDT.DEFR_DEPST_PREM_AMT,COML_AGMT_AUDT.NON_SUBJ_DEPST_PREM_AMT,
COML_AGMT_AUDT.SUBJ_DEPST_PREM_AMT,COML_AGMT_AUDT.DEFR_DEPST_PREM_AMT,
COML_AGMT_AUDT.NON_SUBJ_DEPST_PREM_AMT,AUD."T AUD EXPO INCL ADJ",
AUD."T AUD STD SUB PREM",
AUD."T AUD NON SUBJ PREM",
AUD."T AUD EAR PREM TOT",
AUD."T AUDIT RESULT",
AUD."T STD SUBJ PREM DEP",
AUD."T STD SUBJ PREM DEFERRED",
AUD."T NON SUB PREM DEPOS",
AUD."T TOTAL ESTIMATED POL PREM"


SELECT PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'CHF' "Report Name"
Into #tmpCHF
FROM         dbo.PREM_ADJ INNER JOIN
                      dbo.PREM_ADJ_PERD ON dbo.PREM_ADJ.prem_adj_id = dbo.PREM_ADJ_PERD.prem_adj_id INNER JOIN
                      dbo.PREM_ADJ_PGM ON dbo.PREM_ADJ_PERD.prem_adj_pgm_id = dbo.PREM_ADJ_PGM.prem_adj_pgm_id AND 
                      dbo.PREM_ADJ_PERD.custmr_id = dbo.PREM_ADJ_PGM.custmr_id INNER JOIN
                      dbo.CUSTMR ON dbo.PREM_ADJ_PERD.custmr_id = dbo.CUSTMR.custmr_id INNER JOIN
                      dbo.EXTRNL_ORG ON dbo.PREM_ADJ.brkr_id = dbo.EXTRNL_ORG.extrnl_org_id INNER JOIN
                      dbo.INT_ORG ON dbo.PREM_ADJ.bu_office_id = dbo.INT_ORG.int_org_id INNER JOIN
                      dbo.LKUP AS LKUP_AdjTyp ON dbo.PREM_ADJ_PGM.paid_incur_typ_id = LKUP_AdjTyp.lkup_id INNER JOIN
                      dbo.PREM_ADJ_PGM_SETUP ON dbo.PREM_ADJ_PGM.prem_adj_pgm_id = dbo.PREM_ADJ_PGM_SETUP.prem_adj_pgm_id AND 
                      dbo.PREM_ADJ_PGM.custmr_id = dbo.PREM_ADJ_PGM_SETUP.custmr_id INNER JOIN
                      dbo.PREM_ADJ_PGM_DTL ON dbo.PREM_ADJ_PGM_SETUP.prem_adj_pgm_setup_id = dbo.PREM_ADJ_PGM_DTL.prem_adj_pgm_setup_id AND 
                      dbo.PREM_ADJ_PGM_SETUP.prem_adj_pgm_id = dbo.PREM_ADJ_PGM_DTL.prem_adj_pgm_id AND 
                      dbo.PREM_ADJ_PGM_SETUP.custmr_id = dbo.PREM_ADJ_PGM_DTL.custmr_id INNER JOIN
                      dbo.LKUP AS LKUP_LossType ON dbo.PREM_ADJ_PGM_DTL.clm_hndl_fee_los_typ_id = LKUP_LossType.lkup_id INNER JOIN
                      dbo.LKUP AS PGMTYP ON PGMTYP.lkup_id = dbo.PREM_ADJ_PGM.pgm_typ_id LEFT OUTER JOIN
                      dbo.PREM_ADJ_PARMET_SETUP ON dbo.PREM_ADJ_PERD.prem_adj_perd_id = dbo.PREM_ADJ_PARMET_SETUP.prem_adj_perd_id AND 
                      dbo.PREM_ADJ_PERD.prem_adj_id = dbo.PREM_ADJ_PARMET_SETUP.prem_adj_id AND 
                      dbo.PREM_ADJ_PGM_SETUP.prem_adj_pgm_setup_id = dbo.PREM_ADJ_PARMET_SETUP.prem_adj_pgm_setup_id INNER JOIN
                      dbo.LKUP AS LKUP_clm_hndl_fee_basis ON 
                      dbo.PREM_ADJ_PGM_SETUP.clm_hndl_fee_basis_id = LKUP_clm_hndl_fee_basis.lkup_id LEFT OUTER JOIN
                      dbo.PREM_ADJ_CMMNT ON dbo.PREM_ADJ.prem_adj_id = dbo.PREM_ADJ_CMMNT.prem_adj_id AND dbo.PREM_ADJ_CMMNT.cmmnt_catg_id = 315
WHERE     (dbo.PREM_ADJ.prem_adj_id = @ADJNO) AND (dbo.PREM_ADJ_PGM_SETUP.adj_parmet_typ_id = 398)
                      --AND (dbo.PREM_ADJ_PERD.prem_adj_perd_id in (SELECT MAX(prem_adj_perd_id) AS MaxPeriodID FROM  dbo.PREM_ADJ_PERD AS PERD WHERE (prem_adj_id = @ADJNO) group by Custmr_id))
					  AND (dbo.PREM_ADJ_PGM_SETUP.actv_ind = 1) AND (dbo.PREM_ADJ_PGM_DTL.actv_ind = 1)


SELECT PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'RML' "Report Name"
Into #tmpRML
FROM         dbo.PREM_ADJ INNER JOIN
                      dbo.PREM_ADJ_PERD ON dbo.PREM_ADJ.prem_adj_id = dbo.PREM_ADJ_PERD.prem_adj_id INNER JOIN
                      dbo.PREM_ADJ_PGM ON dbo.PREM_ADJ_PERD.prem_adj_pgm_id = dbo.PREM_ADJ_PGM.prem_adj_pgm_id AND 
                      dbo.PREM_ADJ_PERD.custmr_id = dbo.PREM_ADJ_PGM.custmr_id INNER JOIN
                      dbo.COML_AGMT ON dbo.PREM_ADJ_PGM.prem_adj_pgm_id = dbo.COML_AGMT.prem_adj_pgm_id AND 
                      dbo.PREM_ADJ_PGM.custmr_id = dbo.COML_AGMT.custmr_id and coml_agmt.actv_ind = 1 INNER JOIN
                      dbo.PREM_ADJ_RETRO ON dbo.COML_AGMT.prem_adj_pgm_id = dbo.PREM_ADJ_RETRO.prem_adj_pgm_id AND 
                      dbo.COML_AGMT.custmr_id = dbo.PREM_ADJ_RETRO.custmr_id AND dbo.COML_AGMT.coml_agmt_id = dbo.PREM_ADJ_RETRO.coml_agmt_id AND 
                      dbo.PREM_ADJ_PERD.prem_adj_id = dbo.PREM_ADJ_RETRO.prem_adj_id INNER JOIN
                      dbo.PREM_ADJ_RETRO_DTL ON dbo.PREM_ADJ_RETRO.custmr_id = dbo.PREM_ADJ_RETRO_DTL.custmr_id AND 
                      dbo.PREM_ADJ_RETRO.prem_adj_retro_id = dbo.PREM_ADJ_RETRO_DTL.prem_adj_retro_id INNER JOIN
                      dbo.CUSTMR ON dbo.PREM_ADJ_PERD.custmr_id = dbo.CUSTMR.custmr_id INNER JOIN
                      dbo.EXTRNL_ORG ON dbo.PREM_ADJ.brkr_id = dbo.EXTRNL_ORG.extrnl_org_id INNER JOIN
                      dbo.INT_ORG ON dbo.PREM_ADJ.bu_office_id = dbo.INT_ORG.int_org_id INNER JOIN
                      dbo.LKUP AS LKUP_LOB ON dbo.COML_AGMT.covg_typ_id = LKUP_LOB.lkup_id INNER JOIN
                      dbo.LKUP AS LKUP_AdjTyp ON dbo.PREM_ADJ_PGM.paid_incur_typ_id = LKUP_AdjTyp.lkup_id INNER JOIN
                      dbo.LKUP AS LKUP_St ON dbo.PREM_ADJ_RETRO_DTL.st_id = LKUP_St.lkup_id INNER JOIN
                      dbo.LKUP AS PGMTYP ON PGMTYP.lkup_id = dbo.PREM_ADJ_PGM.pgm_typ_id INNER JOIN
                      dbo.PREM_ADJ_PGM_SETUP ON dbo.PREM_ADJ_PGM.prem_adj_pgm_id = dbo.PREM_ADJ_PGM_SETUP.prem_adj_pgm_id
WHERE     (dbo.PREM_ADJ.prem_adj_id = @ADJNO) AND (dbo.PREM_ADJ_PGM_SETUP.adj_parmet_typ_id = 403) 
and prem_adj_pgm.pgm_typ_id <> 451 and PREM_ADJ_RETRO_DTL.rsdl_mkt_load_tot_amt IS not NULL

SELECT distinct PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'LOSS FUND' "Report Name"
Into #tmpExcrow
FROM         dbo.LKUP AS LKUP_St INNER JOIN
                      dbo.PREM_ADJ_RETRO_DTL INNER JOIN
                      dbo.COML_AGMT ON dbo.PREM_ADJ_RETRO_DTL.prem_adj_pgm_id = dbo.COML_AGMT.prem_adj_pgm_id AND 
                      dbo.PREM_ADJ_RETRO_DTL.custmr_id = dbo.COML_AGMT.custmr_id AND 
                      dbo.PREM_ADJ_RETRO_DTL.coml_agmt_id = dbo.COML_AGMT.coml_agmt_id ON LKUP_St.lkup_id = dbo.PREM_ADJ_RETRO_DTL.st_id INNER JOIN
                      dbo.LKUP AS LKUP_AdjTyp INNER JOIN
                      dbo.PREM_ADJ_PGM ON LKUP_AdjTyp.lkup_id = dbo.PREM_ADJ_PGM.paid_incur_typ_id INNER JOIN
                      dbo.LKUP AS PGMTYP ON dbo.PREM_ADJ_PGM.pgm_typ_id = PGMTYP.lkup_id ON 
                      dbo.PREM_ADJ_RETRO_DTL.prem_adj_pgm_id = dbo.PREM_ADJ_PGM.prem_adj_pgm_id INNER JOIN
                      dbo.EXTRNL_ORG INNER JOIN
                      dbo.PREM_ADJ INNER JOIN
                      dbo.PREM_ADJ_PERD ON dbo.PREM_ADJ.prem_adj_id = dbo.PREM_ADJ_PERD.prem_adj_id AND 
                      dbo.PREM_ADJ.reg_custmr_id = dbo.PREM_ADJ_PERD.reg_custmr_id INNER JOIN
                      dbo.CUSTMR ON dbo.PREM_ADJ_PERD.custmr_id = dbo.CUSTMR.custmr_id ON dbo.EXTRNL_ORG.extrnl_org_id = dbo.PREM_ADJ.brkr_id INNER JOIN
                      dbo.INT_ORG ON dbo.PREM_ADJ.bu_office_id = dbo.INT_ORG.int_org_id ON 
                      dbo.PREM_ADJ_RETRO_DTL.prem_adj_perd_id = dbo.PREM_ADJ_PERD.prem_adj_perd_id AND 
                      dbo.PREM_ADJ_RETRO_DTL.prem_adj_id = dbo.PREM_ADJ_PERD.prem_adj_id AND 
                      dbo.PREM_ADJ_RETRO_DTL.custmr_id = dbo.PREM_ADJ_PERD.custmr_id AND 
                      dbo.PREM_ADJ_RETRO_DTL.prem_adj_pgm_id = dbo.PREM_ADJ_PERD.prem_adj_pgm_id
WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 


--This code is to retrieve list of policies with adjustment number
--declare @sstring varchar(8000)
--set @sstring = dbo.fn_GetPolicyList(@ADJNO)


SELECT PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'ILRF' "Report Name"
Into #tmpILRF
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN PREM_ADJ_PGM_SETUP ON PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_SETUP.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PARMET_SETUP ON PREM_ADJ_PARMET_SETUP.PREM_ADJ_PERD_ID = 
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PARMET_SETUP.CUSTMR_ID = CUSTMR.CUSTMR_ID 
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PGM_SETUP_ID = PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_SETUP_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PGM_SETUP_POL ON PREM_ADJ_PGM_SETUP_POL.PREM_ADJ_PGM_SETUP_ID =
PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_SETUP_ID AND PREM_ADJ_PGM_SETUP_POL.PREM_ADJ_PGM_ID =
PREM_ADJ_PGM.PREM_ADJ_PGM_ID AND PREM_ADJ_PGM_SETUP_POL.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_PGM_SETUP_POL.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP on LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO and PREM_ADJ_PGM_SETUP.ADJ_PARMET_TYP_ID = 400
 





SELECT PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
'COMELE' "Report Name"
Into #tmpCMDELE
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON CUSTMR.CUSTMR_ID = PREM_ADJ_PERD.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID 
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 316
INNER JOIN LKUP on LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN COMB_ELEMTS ON COMB_ELEMTS.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND COMB_ELEMTS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID AND 
COMB_ELEMTS.CUSTMR_ID = PREM_ADJ_PERD.CUSTMR_ID AND COMB_ELEMTS.ACTV_IND = 1
INNER JOIN PREM_ADJ_COMB_ELEMTS ON PREM_ADJ_COMB_ELEMTS.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_COMB_ELEMTS.PREM_ADJ_ID =
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_COMB_ELEMTS.CUSTMR_ID =PREM_ADJ_PERD.CUSTMR_ID 
INNER JOIN LKUP LKUP1 ON LKUP1.LKUP_ID = COMB_ELEMTS.DVSR_NBR_ID
INNER JOIN PREM_ADJ_PGM_RETRO ON PREM_ADJ_PGM_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_RETRO.CUSTMR_ID = PREM_ADJ_PERD.CUSTMR_ID 
AND PREM_ADJ_PGM_RETRO.RETRO_ELEMT_TYP_ID = 337 
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO


SELECT DISTINCT CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
 WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.mstr_acct_ind "MSTR IND",
CUSTMR.FULL_NM "INSURED NAME",
INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PERD.PREM_ADJ_PERD_ID "PREM ADJ PERD ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
PREM_ADJ_PERD.CUSTMR_ID,
#tmpCumulative."PREM ADJ ID" "CUMULATIVE ADJ ID",
case when #tmpCumulative."PREM ADJ PGM ID" is null then 0 else #tmpCumulative."PREM ADJ PGM ID" end "CUMULATIVE PGM ID",
#tmpEscrow."PREM ADJ ID" "ESCROW ADJ ID",
case when #tmpEscrow."PREM ADJ PGM ID" is null then 0 else #tmpEscrow."PREM ADJ PGM ID" end "ESCROW PGM ID",
#tmpLBA."PREM ADJ ID" "LBA ADJ ID",
case when #tmpLBA."PREM ADJ PGM ID" is null then 0 else #tmpLBA."PREM ADJ PGM ID" end "LBA PGM ID",
case when #tmpSurcharge."PREM ADJ PGM ID" is null then 0 else #tmpSurcharge."PREM ADJ PGM ID" end "SURCHARGE PGM ID",
#tmpExcessLoss."PREM ADJ ID" "EXCESS ADJ ID",
case when #tmpExcessLoss."PREM ADJ PGM ID" is null then 0 else #tmpExcessLoss."PREM ADJ PGM ID" end "EXCESS PGM ID",
#tmptexasTax."PREM ADJ ID" "TEXAS ADJ ID",
case when #tmptexasTax."PREM ADJ PGM ID" is null then 0 else #tmptexasTax."PREM ADJ PGM ID" end "TEXAS PGM ID",
#tmpRetroPrem."PREM ADJ ID" "RETRO ADJ ID",
case when #tmpRetroPrem."PREM ADJ PGM ID" is null then 0 else #tmpRetroPrem."PREM ADJ PGM ID" end "RETRO PGM ID",
#tmpRetroLegend."PREM ADJ ID" "RETROLEGEND ADJ ID",
case when #tmpRetroLegend."PREM ADJ PGM ID" is null then 0 else #tmpRetroLegend."PREM ADJ PGM ID" end "RETROLEGEND PGM ID",
#tmpCHF."PREM ADJ ID" "CHF ADJ ID",
case when #tmpCHF."PREM ADJ PGM ID" is null then 0 else #tmpCHF."PREM ADJ PGM ID" end "CHF PGM ID",
#tmpRML."PREM ADJ ID" "RML ADJ ID",
case when #tmpRML."PREM ADJ PGM ID" is null then 0 else #tmpRML."PREM ADJ PGM ID" end "RML PGM ID",
#tmpExcrow."PREM ADJ ID" "ESCROW ADJ ID",
case when #tmpExcrow."PREM ADJ PGM ID" is null then 0 else #tmpExcrow."PREM ADJ PGM ID" end "ESCROW PGM ID",
#tmpILRF."PREM ADJ ID" "ILRF ADJ ID",
case when #tmpILRF."PREM ADJ PGM ID" is null then 0 else #tmpILRF."PREM ADJ PGM ID" end "ILRF PGM ID",
#tmpCMDELE."PREM ADJ ID" "CMDEL ADJ ID",
case when #tmpCMDELE."PREM ADJ PGM ID" is null then 0 else #tmpCMDELE."PREM ADJ PGM ID" end "CMDEL PGM ID",
PREM_ADJ_PGM.STRT_DT,
case when #tmpCesar."PREM ADJ PGM ID" is null then 0 else #tmpCesar."PREM ADJ PGM ID" end "CESAR PGM ID",
#tmpCesar."PREM ADJ ID" "CESAR ADJ ID",  
REGCUSTMR.company_cd AS CompanyCode


FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN CUSTMR REGCUSTMR ON PREM_ADJ.reg_custmr_id = REGCUSTMR.CUSTMR_ID
INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID --AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
LEFT OUTER JOIN #tmpCumulative ON #tmpCumulative."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpCumulative."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 
LEFT OUTER JOIN #tmpEscrow ON #tmpEscrow."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpEscrow."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 
LEFT OUTER JOIN #tmpLBA ON #tmpLBA."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpLBA."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 
LEFT OUTER JOIN #tmpSurcharge ON #tmpSurcharge."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpSurcharge."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 
 LEFT OUTER JOIN #tmpExcessLoss ON #tmpExcessLoss."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpExcessLoss."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID
LEFT OUTER JOIN #tmptexasTax ON #tmptexasTax."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmptexasTax."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 
LEFT OUTER JOIN #tmpRetroPrem ON #tmpRetroPrem."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpRetroPrem."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 
LEFT OUTER JOIN #tmpRetroLegend ON #tmpRetroLegend."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpRetroLegend."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 
LEFT OUTER JOIN #tmpCHF ON #tmpCHF."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpCHF."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 
LEFT OUTER JOIN #tmpRML ON #tmpRML."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpRML."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID
LEFT OUTER JOIN #tmpExcrow ON #tmpExcrow."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpExcrow."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 
LEFT OUTER JOIN #tmpILRF ON #tmpILRF."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpILRF."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 
LEFT OUTER JOIN #tmpCMDELE ON #tmpCMDELE."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpCMDELE."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 
LEFT OUTER JOIN #tmpCesar ON #tmpCesar."PREM ADJ ID" = PREM_ADJ_PERD.PREM_ADJ_ID 
AND #tmpCesar."PREM ADJ PGM ID" = PREM_ADJ_PERD.PREM_ADJ_PGM_ID 


  WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
ORDER BY PREM_ADJ_PGM.STRT_DT DESC,PREM_ADJ_PERD.CUSTMR_ID ASC

drop table #tmpCumulative
drop table #tmpEscrow
drop table #tmpLBA
drop table #tmpSurcharge
drop table #tmpExcessLoss
drop table #tmptexasTax
drop table #tmpRetroPrem
drop table #tmpCHF
drop table #tmpRML
drop table #tmpExcrow
drop table #tmpILRF
drop table #tmpCMDELE
drop table #tmpRetroLegend
drop table #tmpCesar

END TRY
BEGIN CATCH

	
	SELECT 
    ERROR_NUMBER() AS ERRORNUMBER,
    ERROR_SEVERITY() AS ERRORSEVERITY,
    ERROR_STATE() AS ERRORSTATE,
    ERROR_PROCEDURE() AS ERRORPROCEDURE,
    ERROR_LINE() AS ERRORLINE,
    ERROR_MESSAGE() AS ERRORMESSAGE;


END CATCH
END

GO

IF OBJECT_ID('GetMainReport') IS NOT NULL
	PRINT 'CREATED PROCEDURE GetMainReport'
ELSE
	PRINT 'FAILED CREATING PROCEDURE GetMainReport'
GO

IF OBJECT_ID('GetMainReport') IS NOT NULL
	GRANT EXEC ON GetMainReport TO PUBLIC
GO










