
IF EXISTS (SELECT 1 FROM sysobjects 
	WHERE NAME = 'GetILRF' and TYPE = 'P')
	DROP PROC GetILRF
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------
-----
-----	PROC NAME:	GetILRF
-----
-----	VERSION:	SQL SERVER 2005
-----
-----	AUTHOR :	SUNEEL KUMAR MOGALI
-----
-----	DESCRIPTION: RETURNS DATA WITH RESPECT TO THE GIVEN INVOICE NUMBER.
-----			
-----	ON EXIT:	
-----			
-----
-----	MODIFIED:	Changed PREM_ADj_PARMET_DTL.LOS_BASE_ASSES_AMT field. - 09-Jan-2009
-----			
----- 
---------------------------------------------------------------------

CREATE PROCEDURE [dbo].[GetILRF]
@ADJNO INT,
@FLAG INT,
@HISTFLAG BIT,
@CMTCATGID INT
AS
BEGIN

-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
SET NOCOUNT ON;


BEGIN TRY


--To Create the temp tables
create table #t_PostFund1
		(
			[POST_TRNS_TYP_ID] [bigint],
			[prem_adj_perd_id] [bigint],
			[prem_adj_id] [bigint] ,
			[WCTPDCURR] [bigint],
			[WCTPDAGGR] [bigint],
			[WCTPDLIM] [bigint],
			[WCTPDPRIOR] [bigint],
			[WCTPDPOST] [bigint]
		)

		insert into #t_PostFund1
        (
			[POST_TRNS_TYP_ID],
			[prem_adj_perd_id],
			[prem_adj_id],
			[WCTPDCURR],
			[WCTPDAGGR],
			[WCTPDLIM],
			[WCTPDPRIOR],
			[WCTPDPOST]
		)
		SELECT	POST_TRNS_TYP.POST_TRNS_TYP_ID,
				PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
				PREM_ADJ.PREM_ADJ_ID,
				PREM_ADJ_LOS_REIM_FUND_POST.CURR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.AGGR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.LIM_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.ADJ_PRIOR_YY_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.POST_AMT
		FROM PREM_ADJ_LOS_REIM_FUND_POST INNER JOIN PREM_ADJ 
		ON PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		AND PREM_ADJ_PERD.PREM_ADJ_PERD_ID = PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_PERD_ID
		INNER JOIN POST_TRNS_TYP ON POST_TRNS_TYP.POST_TRNS_TYP_ID = PREM_ADJ_LOS_REIM_FUND_POST.RECV_TYP_ID
		WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO AND POST_TRNS_TYP.POST_TRNS_TYP_ID = 31
		ORDER BY PREM_ADJ_PERD.PREM_ADJ_PERD_ID

create table #t_PostFund2
		(
			[POST_TRNS_TYP_ID] [bigint],
			[prem_adj_perd_id] [bigint],
			[prem_adj_id] [bigint] ,
			[WCLCFCURR] [bigint],
			[WCLCFAGGR] [bigint],
			[WCLCFLIM] [bigint],
			[WCLCFPRIOR] [bigint],
			[WCLCFPOST] [bigint]
		)

		insert into #t_PostFund2
        (
			[POST_TRNS_TYP_ID],
			[prem_adj_perd_id],
			[prem_adj_id],
			[WCLCFCURR],
			[WCLCFAGGR],
			[WCLCFLIM],
			[WCLCFPRIOR],
			[WCLCFPOST]
		)
		SELECT	POST_TRNS_TYP.POST_TRNS_TYP_ID,
				PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
				PREM_ADJ.PREM_ADJ_ID,
				PREM_ADJ_LOS_REIM_FUND_POST.CURR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.AGGR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.LIM_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.ADJ_PRIOR_YY_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.POST_AMT
		FROM PREM_ADJ_LOS_REIM_FUND_POST INNER JOIN PREM_ADJ 
		ON PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		AND PREM_ADJ_PERD.PREM_ADJ_PERD_ID = PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_PERD_ID
		INNER JOIN POST_TRNS_TYP ON POST_TRNS_TYP.POST_TRNS_TYP_ID = PREM_ADJ_LOS_REIM_FUND_POST.RECV_TYP_ID
		WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO AND POST_TRNS_TYP.POST_TRNS_TYP_ID = 34
		ORDER BY PREM_ADJ_PERD.PREM_ADJ_PERD_ID

create table #t_PostFund3
		(
			[POST_TRNS_TYP_ID] [bigint],
			[prem_adj_perd_id] [bigint],
			[prem_adj_id] [bigint] ,
			[AUTOTPDCURR] [bigint],
			[AUTOTPDAGGR] [bigint],
			[AUTOTPDLIM] [bigint],
			[AUTOTPDPRIOR] [bigint],
			[AUTOTPDPOST] [bigint]
		)

		insert into #t_PostFund3
        (
			[POST_TRNS_TYP_ID],
			[prem_adj_perd_id],
			[prem_adj_id],
			[AUTOTPDCURR],
			[AUTOTPDAGGR],
			[AUTOTPDLIM],
			[AUTOTPDPRIOR],
			[AUTOTPDPOST]
		)
		SELECT	POST_TRNS_TYP.POST_TRNS_TYP_ID,
				PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
				PREM_ADJ.PREM_ADJ_ID,
				PREM_ADJ_LOS_REIM_FUND_POST.CURR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.AGGR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.LIM_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.ADJ_PRIOR_YY_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.POST_AMT
		FROM PREM_ADJ_LOS_REIM_FUND_POST INNER JOIN PREM_ADJ 
		ON PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		AND PREM_ADJ_PERD.PREM_ADJ_PERD_ID = PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_PERD_ID
		INNER JOIN POST_TRNS_TYP ON POST_TRNS_TYP.POST_TRNS_TYP_ID = PREM_ADJ_LOS_REIM_FUND_POST.RECV_TYP_ID
		WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO AND POST_TRNS_TYP.POST_TRNS_TYP_ID = 29
		ORDER BY PREM_ADJ_PERD.PREM_ADJ_PERD_ID

create table #t_PostFund4
		(
			[POST_TRNS_TYP_ID] [bigint],
			[prem_adj_perd_id] [bigint],
			[prem_adj_id] [bigint] ,
			[GLTPDCURR] [bigint],
			[GLTPDAGGR] [bigint],
			[GLTPDLIM] [bigint],
			[GLTPDPRIOR] [bigint],
			[GLTPDPOST] [bigint]
		)

		insert into #t_PostFund4
        (
			[POST_TRNS_TYP_ID],
			[prem_adj_perd_id],
			[prem_adj_id],
			[GLTPDCURR],
			[GLTPDAGGR],
			[GLTPDLIM],
			[GLTPDPRIOR],
			[GLTPDPOST]
		)
		SELECT	POST_TRNS_TYP.POST_TRNS_TYP_ID,
				PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
				PREM_ADJ.PREM_ADJ_ID,
				PREM_ADJ_LOS_REIM_FUND_POST.CURR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.AGGR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.LIM_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.ADJ_PRIOR_YY_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.POST_AMT
		FROM PREM_ADJ_LOS_REIM_FUND_POST INNER JOIN PREM_ADJ 
		ON PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		AND PREM_ADJ_PERD.PREM_ADJ_PERD_ID = PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_PERD_ID
		INNER JOIN POST_TRNS_TYP ON POST_TRNS_TYP.POST_TRNS_TYP_ID = PREM_ADJ_LOS_REIM_FUND_POST.RECV_TYP_ID
		WHERE PREM_ADJ.PREM_ADJ_ID = @ADJNO AND POST_TRNS_TYP.POST_TRNS_TYP_ID = 30
		ORDER BY PREM_ADJ_PERD.PREM_ADJ_PERD_ID

create table #t_PostFund5
		(
			[POST_TRNS_TYP_ID] [bigint],
			[prem_adj_perd_id] [bigint],
			[prem_adj_id] [bigint] ,
			[AUTOLCFCURR] [bigint],
			[AUTOLCFAGGR] [bigint],
			[AUTOLCFLIM] [bigint],
			[AUTOLCFPRIOR] [bigint],
			[AUTOLCFPOST] [bigint]
		)

		insert into #t_PostFund5
        (
			[POST_TRNS_TYP_ID],
			[prem_adj_perd_id],
			[prem_adj_id],
			[AUTOLCFCURR],
			[AUTOLCFAGGR],
			[AUTOLCFLIM],
			[AUTOLCFPRIOR],
			[AUTOLCFPOST]
		)
		SELECT	POST_TRNS_TYP.POST_TRNS_TYP_ID,
				PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
				PREM_ADJ.PREM_ADJ_ID,
				PREM_ADJ_LOS_REIM_FUND_POST.CURR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.AGGR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.LIM_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.ADJ_PRIOR_YY_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.POST_AMT
		FROM PREM_ADJ_LOS_REIM_FUND_POST INNER JOIN PREM_ADJ 
		ON PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		AND PREM_ADJ_PERD.PREM_ADJ_PERD_ID = PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_PERD_ID
		INNER JOIN POST_TRNS_TYP ON POST_TRNS_TYP.POST_TRNS_TYP_ID = PREM_ADJ_LOS_REIM_FUND_POST.RECV_TYP_ID
		WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO AND POST_TRNS_TYP.POST_TRNS_TYP_ID = 32
		ORDER BY PREM_ADJ_PERD.PREM_ADJ_PERD_ID


create table #t_PostFund6
		(
			[POST_TRNS_TYP_ID] [bigint],
			[prem_adj_perd_id] [bigint],
			[prem_adj_id] [bigint] ,
			[GLLCFCURR] [bigint],
			[GLLCFAGGR] [bigint],
			[GLLCFLIM] [bigint],
			[GLLCFPRIOR] [bigint],
			[GLLCFPOST] [bigint]
		)

		insert into #t_PostFund6
        (
			[POST_TRNS_TYP_ID],
			[prem_adj_perd_id],
			[prem_adj_id],
			[GLLCFCURR],
			[GLLCFAGGR],
			[GLLCFLIM],
			[GLLCFPRIOR],
			[GLLCFPOST]
		)
		SELECT	POST_TRNS_TYP.POST_TRNS_TYP_ID,
				PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
				PREM_ADJ.PREM_ADJ_ID,
				PREM_ADJ_LOS_REIM_FUND_POST.CURR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.AGGR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.LIM_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.ADJ_PRIOR_YY_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.POST_AMT
		FROM PREM_ADJ_LOS_REIM_FUND_POST INNER JOIN PREM_ADJ 
		ON PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		AND PREM_ADJ_PERD.PREM_ADJ_PERD_ID = PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_PERD_ID
		INNER JOIN POST_TRNS_TYP ON POST_TRNS_TYP.POST_TRNS_TYP_ID = PREM_ADJ_LOS_REIM_FUND_POST.RECV_TYP_ID
		WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO AND POST_TRNS_TYP.POST_TRNS_TYP_ID = 33
		ORDER BY PREM_ADJ_PERD.PREM_ADJ_PERD_ID

create table #t_PostFund7
		(
			[POST_TRNS_TYP_ID] [bigint],
			[prem_adj_perd_id] [bigint],
			[prem_adj_id] [bigint] ,
			[RESERVECURR] [bigint],
			[RESERVEAGGR] [bigint],
			[RESERVELIM] [bigint],
			[RESERVEPRIOR] [bigint],
			[RESERVEPOST] [bigint]
		)

		insert into #t_PostFund7
        (
			[POST_TRNS_TYP_ID],
			[prem_adj_perd_id],
			[prem_adj_id],
			[RESERVECURR],
			[RESERVEAGGR],
			[RESERVELIM],
			[RESERVEPRIOR],
			[RESERVEPOST]
		)
		SELECT	POST_TRNS_TYP.POST_TRNS_TYP_ID,
				PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
				PREM_ADJ.PREM_ADJ_ID,
				PREM_ADJ_LOS_REIM_FUND_POST.CURR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.AGGR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.LIM_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.ADJ_PRIOR_YY_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.POST_AMT
		FROM PREM_ADJ_LOS_REIM_FUND_POST INNER JOIN PREM_ADJ 
		ON PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		AND PREM_ADJ_PERD.PREM_ADJ_PERD_ID = PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_PERD_ID
		INNER JOIN POST_TRNS_TYP ON POST_TRNS_TYP.POST_TRNS_TYP_ID = PREM_ADJ_LOS_REIM_FUND_POST.RECV_TYP_ID
		WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO AND POST_TRNS_TYP.POST_TRNS_TYP_ID = 71
		ORDER BY PREM_ADJ_PERD.PREM_ADJ_PERD_ID

create table #t_PostFund8
		(
			[POST_TRNS_TYP_ID] [bigint],
			[prem_adj_perd_id] [bigint],
			[prem_adj_id] [bigint] ,
			[LBACURR] [bigint],
			[LBAAGGR] [bigint],
			[LBALIM] [bigint],
			[LBAPRIOR] [bigint],
			[LBAPOST] [bigint]
		)

		insert into #t_PostFund8
        (
			[POST_TRNS_TYP_ID],
			[prem_adj_perd_id],
			[prem_adj_id],
			[LBACURR],
			[LBAAGGR],
			[LBALIM],
			[LBAPRIOR],
			[LBAPOST]
		)
		SELECT	POST_TRNS_TYP.POST_TRNS_TYP_ID,
				PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
				PREM_ADJ.PREM_ADJ_ID,
				PREM_ADJ_LOS_REIM_FUND_POST.CURR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.AGGR_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.LIM_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.ADJ_PRIOR_YY_AMT,
				PREM_ADJ_LOS_REIM_FUND_POST.POST_AMT
		FROM PREM_ADJ_LOS_REIM_FUND_POST INNER JOIN PREM_ADJ 
		ON PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
		AND PREM_ADJ_PERD.PREM_ADJ_PERD_ID = PREM_ADJ_LOS_REIM_FUND_POST.PREM_ADJ_PERD_ID
		INNER JOIN POST_TRNS_TYP ON POST_TRNS_TYP.POST_TRNS_TYP_ID = PREM_ADJ_LOS_REIM_FUND_POST.RECV_TYP_ID
		WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO AND POST_TRNS_TYP.POST_TRNS_TYP_ID = 70
		ORDER BY PREM_ADJ_PERD.PREM_ADJ_PERD_ID



--This code is to retrieve list of policies with adjustment number
--declare @sstring varchar(8000)
--set @sstring = dbo.fn_GetPolicyList(@ADJNO)

SELECT CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
 WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
--INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
--LKUP3.LKUP_TXT+'('+CASE WHEN PGMTYP.LKUP_TXT LIKE 'NON-DEP%' THEN 'Retro' ELSE PGMTYP.LKUP_TXT END +')'  "ADJUSTMENT TYPE",
'LRF'  "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
PREM_ADJ_PGM.PREV_VALN_DT "PREV VAL DATE",
PREM_ADJ_PGM.NXT_VALN_DT "NEXT VAL DATE",
PREM_ADJ_PGM_SETUP.INCUR_BUT_NOT_RPTD_LOS_DEV_FCTR_ID,
LKUP.LKUP_TXT "LDF/IBNR",
PREM_ADj_PARMET_DTL.LN_OF_BSN_ID "LOB ID",
LKUP1.LKUP_TXT "LOB",
LKUP2.ATTR_1_TXT "STATE",
PREM_ADJ_PERD.PREM_ADJ_PERD_ID "PREM ADJ PERD ID",
PREM_ADJ_PGM_SETUP.incur_los_reim_fund_unlim_agmt_lim_ind "AGMT LIM IND",
PREM_ADJ_PGM_SETUP.incur_los_reim_fund_unlim_minimium_lim_ind "MIN LIM IND",
PREM_ADJ_PGM_SETUP.INCUR_LOS_REIM_FUND_AGGR_LIM_AMT "AGGR LIMIT",
PREM_ADJ_PGM_SETUP.INCUR_LOS_REIM_FUND_MIN_LIM_AMT "MIN REQ",
(CASE WHEN dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,400) IS NULL 
THEN '' ELSE RIGHT(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,400), 
LEN(dbo.fn_GetPolicyList(@ADJNO,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,400))) END) "POLICIES",
SUM(PREM_ADj_PARMET_DTL.PAID_LOS_AMT) "PAID LOSSES",
SUM(PREM_ADj_PARMET_DTL.PAID_ALOC_LOS_ADJ_EXPS_AMT) "PAID ALAE",
SUM(PREM_ADj_PARMET_DTL.RESRV_LOS_AMT) "RESERVE LOSSES",
SUM(PREM_ADj_PARMET_DTL.RESRV_ALOC_LOS_ADJ_EXPS_AMT) "RESERVE ALAE",
PREM_ADj_PARMET_DTL.LOS_BASE_ASSES_RT "LBA FACTOR",
SUM(PREM_ADj_PARMET_DTL.LOS_BASE_ASSES_AMT) "LBA RESULT",
PREM_ADj_PARMET_DTL.LOS_CONV_FCTR_RT "LCF FACTOR",
SUM(PREM_ADj_PARMET_DTL.LOS_CONV_FCTR_AMT) "LCF RESULT",
PREM_ADj_PARMET_DTL.LOS_DEV_FCTR_RT "LDF FACTOR",
SUM(PREM_ADj_PARMET_DTL.LOS_DEV_FCTR_AMT) "LDF RESULT",
SUM(PREM_ADj_PARMET_DTL.TOT_AMT) "TOTAL AMOUNT",
PREM_ADJ_PARMET_SETUP.INCUR_LOS_REIM_FUND_AMT "CURRENT LOSS REIMBURSEMENT FUND",
PREM_ADJ_PARMET_SETUP.INCUR_LOS_REIM_FUND_LIM_AMT "LIMITED LOSS REIMBURSE",
PREM_ADJ_PARMET_SETUP.INCUR_LOS_REIM_FUND_PREVLY_BILED_AMT "LOSS REIMBUR FUND PREV",
PREM_ADJ_PARMET_SETUP.TOT_AMT "AMOUNT BILLED",
PREM_ADJ_CMMNT.CMMNT_TXT "COMMENTS",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
#t_PostFund1.[WCTPDCURR],
			#t_PostFund1.[WCTPDAGGR],
			#t_PostFund1.[WCTPDLIM],
			#t_PostFund1.[WCTPDPRIOR],
			#t_PostFund1.[WCTPDPOST],
#t_PostFund2.[WCLCFCURR],
			#t_PostFund2.[WCLCFAGGR],
			#t_PostFund2.[WCLCFLIM],
			#t_PostFund2.[WCLCFPRIOR],
			#t_PostFund2.[WCLCFPOST],
#t_PostFund3.[AUTOTPDCURR],
			#t_PostFund3.[AUTOTPDAGGR],
			#t_PostFund3.[AUTOTPDLIM],
			#t_PostFund3.[AUTOTPDPRIOR],
			#t_PostFund3.[AUTOTPDPOST],
#t_PostFund4.[GLTPDCURR],
			#t_PostFund4.[GLTPDAGGR],
			#t_PostFund4.[GLTPDLIM],
			#t_PostFund4.[GLTPDPRIOR],
			#t_PostFund4.[GLTPDPOST],
#t_PostFund5.[AUTOLCFCURR],
			#t_PostFund5.[AUTOLCFAGGR],
			#t_PostFund5.[AUTOLCFLIM],
			#t_PostFund5.[AUTOLCFPRIOR],
			#t_PostFund5.[AUTOLCFPOST],
#t_PostFund6.[GLLCFCURR],
			#t_PostFund6.[GLLCFAGGR],
			#t_PostFund6.[GLLCFLIM],
			#t_PostFund6.[GLLCFPRIOR],
			#t_PostFund6.[GLLCFPOST],
#t_PostFund7.[RESERVECURR],
			#t_PostFund7.[RESERVEAGGR],
			#t_PostFund7.[RESERVELIM],
			#t_PostFund7.[RESERVEPRIOR],
			#t_PostFund7.[RESERVEPOST],
#t_PostFund8.[LBACURR],
			#t_PostFund8.[LBAAGGR],
			#t_PostFund8.[LBALIM],
			#t_PostFund8.[LBAPRIOR],
			#t_PostFund8.[LBAPOST]
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN PREM_ADJ_PGM_SETUP ON PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_SETUP.CUSTMR_ID = CUSTMR.CUSTMR_ID
LEFT OUTER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM_SETUP.INCUR_BUT_NOT_RPTD_LOS_DEV_FCTR_ID
INNER JOIN PREM_ADJ_PARMET_SETUP ON PREM_ADJ_PARMET_SETUP.PREM_ADJ_PERD_ID = 
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PARMET_SETUP.CUSTMR_ID = CUSTMR.CUSTMR_ID 
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PGM_SETUP_ID = PREM_ADJ_PGM_SETUP.PREM_ADJ_PGM_SETUP_ID
AND PREM_ADJ_PARMET_SETUP.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADj_PARMET_DTL ON PREM_ADj_PARMET_DTL.PREM_ADJ_PARMET_SETUP_ID =
PREM_ADJ_PARMET_SETUP.PREM_ADJ_PARMET_SETUP_ID AND PREM_ADj_PARMET_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADj_PARMET_DTL.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADj_PARMET_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN LKUP LKUP1 ON LKUP1.LKUP_ID = PREM_ADj_PARMET_DTL.LN_OF_BSN_ID
INNER JOIN LKUP LKUP2 ON LKUP2.LKUP_ID = PREM_ADj_PARMET_DTL.ST_ID
LEFT OUTER JOIN #t_PostFund1 ON #t_PostFund1.prem_adj_perd_id = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND #t_PostFund1.prem_adj_id = PREM_ADJ.PREM_ADJ_ID
LEFT OUTER JOIN #t_PostFund2 ON #t_PostFund2.prem_adj_perd_id = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND #t_PostFund2.prem_adj_id = PREM_ADJ.PREM_ADJ_ID
LEFT OUTER JOIN #t_PostFund3 ON #t_PostFund3.prem_adj_perd_id = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND #t_PostFund3.prem_adj_id = PREM_ADJ.PREM_ADJ_ID
LEFT OUTER JOIN #t_PostFund4 ON #t_PostFund4.prem_adj_perd_id = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND #t_PostFund4.prem_adj_id = PREM_ADJ.PREM_ADJ_ID
LEFT OUTER JOIN #t_PostFund5 ON #t_PostFund5.prem_adj_perd_id = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND #t_PostFund5.prem_adj_id = PREM_ADJ.PREM_ADJ_ID
LEFT OUTER JOIN #t_PostFund6 ON #t_PostFund6.prem_adj_perd_id = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND #t_PostFund6.prem_adj_id = PREM_ADJ.PREM_ADJ_ID
LEFT OUTER JOIN #t_PostFund7 ON #t_PostFund7.prem_adj_perd_id = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND #t_PostFund7.prem_adj_id = PREM_ADJ.PREM_ADJ_ID
LEFT OUTER JOIN #t_PostFund8 ON #t_PostFund8.prem_adj_perd_id = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND #t_PostFund8.prem_adj_id = PREM_ADJ.PREM_ADJ_ID
--INNER JOIN COML_AGMT ON COML_AGMT.COML_AGMT_ID = PREM_ADj_PARMET_DTL.COML_AGMT_ID
--AND COML_AGMT.ACTV_IND = 1
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = @CMTCATGID
INNER JOIN LKUP LKUP3 ON LKUP3.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO and PREM_ADJ_PGM_SETUP.ADJ_PARMET_TYP_ID = 400
GROUP BY LKUP1.LKUP_TXT,PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,PGMTYP.LKUP_TXT,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,PREM_ADJ_PGM.PREV_VALN_DT,PREM_ADJ_PGM.NXT_VALN_DT,
PREM_ADJ_PGM_SETUP.INCUR_BUT_NOT_RPTD_LOS_DEV_FCTR_ID,LKUP.LKUP_TXT,LKUP2.ATTR_1_TXT,
PREM_ADj_PARMET_DTL.LN_OF_BSN_ID,PREM_ADJ_PGM_SETUP.INCUR_LOS_REIM_FUND_AGGR_LIM_AMT,
PREM_ADJ_PGM_SETUP.INCUR_LOS_REIM_FUND_MIN_LIM_AMT,PREM_ADj_PARMET_DTL.PAID_LOS_AMT,
PREM_ADj_PARMET_DTL.PAID_ALOC_LOS_ADJ_EXPS_AMT,PREM_ADj_PARMET_DTL.RESRV_LOS_AMT,
PREM_ADj_PARMET_DTL.RESRV_ALOC_LOS_ADJ_EXPS_AMT,PREM_ADj_PARMET_DTL.LOS_BASE_ASSES_RT,
PREM_ADj_PARMET_DTL.LOS_AMT,PREM_ADj_PARMET_DTL.LOS_CONV_FCTR_RT,
PREM_ADj_PARMET_DTL.LOS_CONV_FCTR_AMT,PREM_ADj_PARMET_DTL.LOS_DEV_FCTR_RT,
PREM_ADj_PARMET_DTL.TOT_AMT,PREM_ADj_PARMET_DTL.LOS_DEV_FCTR_AMT,
PREM_ADJ_PARMET_SETUP.INCUR_LOS_REIM_FUND_AMT,PREM_ADJ_PARMET_SETUP.INCUR_LOS_REIM_FUND_LIM_AMT,
PREM_ADJ_PARMET_SETUP.INCUR_LOS_REIM_FUND_PREVLY_BILED_AMT,PREM_ADJ_PARMET_SETUP.TOT_AMT,
PREM_ADJ_CMMNT.CMMNT_TXT,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,LKUP3.LKUP_TXT,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,
PREM_ADJ_PGM_SETUP.incur_los_reim_fund_unlim_agmt_lim_ind,
PREM_ADJ_PGM_SETUP.incur_los_reim_fund_unlim_minimium_lim_ind,
PREM_ADJ.PREM_ADJ_ID,#t_PostFund1.[WCTPDCURR],#t_PostFund1.[WCTPDAGGR], #t_PostFund1.[WCTPDLIM],
#t_PostFund1.[WCTPDPRIOR],#t_PostFund1.[WCTPDPOST],#t_PostFund2.[WCLCFCURR],
			#t_PostFund2.[WCLCFAGGR],
			#t_PostFund2.[WCLCFLIM],
			#t_PostFund2.[WCLCFPRIOR],
			#t_PostFund2.[WCLCFPOST],
#t_PostFund3.[AUTOTPDCURR],
			#t_PostFund3.[AUTOTPDAGGR],
			#t_PostFund3.[AUTOTPDLIM],
			#t_PostFund3.[AUTOTPDPRIOR],
			#t_PostFund3.[AUTOTPDPOST],
#t_PostFund4.[GLTPDCURR],
			#t_PostFund4.[GLTPDAGGR],
			#t_PostFund4.[GLTPDLIM],
			#t_PostFund4.[GLTPDPRIOR],
			#t_PostFund4.[GLTPDPOST],
#t_PostFund5.[AUTOLCFCURR],
			#t_PostFund5.[AUTOLCFAGGR],
			#t_PostFund5.[AUTOLCFLIM],
			#t_PostFund5.[AUTOLCFPRIOR],
			#t_PostFund5.[AUTOLCFPOST],
#t_PostFund6.[GLLCFCURR],
			#t_PostFund6.[GLLCFAGGR],
			#t_PostFund6.[GLLCFLIM],
			#t_PostFund6.[GLLCFPRIOR],
			#t_PostFund6.[GLLCFPOST],
#t_PostFund7.[RESERVECURR],
			#t_PostFund7.[RESERVEAGGR],
			#t_PostFund7.[RESERVELIM],
			#t_PostFund7.[RESERVEPRIOR],
			#t_PostFund7.[RESERVEPOST],
#t_PostFund8.[LBACURR],
			#t_PostFund8.[LBAAGGR],
			#t_PostFund8.[LBALIM],
			#t_PostFund8.[LBAPRIOR],
			#t_PostFund8.[LBAPOST]
ORDER BY LKUP1.LKUP_TXT,LKUP2.ATTR_1_TXT



drop table #t_postFund1
drop table #t_postFund2
drop table #t_postFund3
drop table #t_postFund4
drop table #t_postFund5
drop table #t_postFund6
drop table #t_postFund7
drop table #t_postFund8


END TRY
BEGIN CATCH

	SELECT 
    ERROR_NUMBER() AS ERRORNUMBER,
    ERROR_SEVERITY() AS ERRORSEVERITY,
    ERROR_STATE() AS ERRORSTATE,
    ERROR_PROCEDURE() AS ERRORPROCEDURE,
    ERROR_LINE() AS ERRORLINE,
    ERROR_MESSAGE() AS ERRORMESSAGE;


END CATCH
END

GO

IF OBJECT_ID('GetILRF') IS NOT NULL
	PRINT 'CREATED PROCEDURE GetILRF'
ELSE
	PRINT 'FAILED CREATING PROCEDURE GetILRF'
GO

IF OBJECT_ID('GetILRF') IS NOT NULL
	GRANT EXEC ON GetILRF TO PUBLIC
GO





