<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!-- Connection for Dev -->
    <add name="SQLServerConnectString" connectionString="Data Source=DAVDB1320.amer.zurich.dev;Initial Catalog=AIS_UAT_CONV; Persist Security Info=True;MultipleActiveResultSets=true;User ID=AIS_UAT_WEB_USER;Password=ta2RayuwraswaC9e95af" providerName="System.Data.SqlClient"/>

    <!-- Connection for QA -->
    <!--<add name="SQLServerConnectString" connectionString="Data Source=DACLG1258\I02DA;Initial Catalog=AIS;Persist Security Info=True;User ID=AIS_WEB_USER;Password=RHzOBpFi10JzG7udy70u" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!-- REPLACE PATH WITH D:\AIS\DataFeed\ARMIS IN PRODUCTION -->
    <!--<add key="ARMISArchiveFolder" value="C:\AIS\InterfaceARMIS\InterfaceInputFiles" />
    --><!-- REPLACE PATH WITH D:\AIS\DataFeed\ARMIS\Archive IN PRODUCTION --><!--
    <add key="ARMISInboundFolder" value="C:\AIS\InterfaceARMIS\InterfaceInputFiles" />-->
    <add key="ARMISArchiveFolder" value="C:\AIS\DataFeed\ARMIS\Archive" />
    <add key="ARMISInboundFolder" value="C:\AIS\DataFeed\ARMIS" />

    <add key="ARMISHeaderTag" value="PROCESSING DATE" />
    <add key="ARMISFooterTag" value="END" />
    <add key="ARMISFile37" value="EC0037.BCP2" />
    <add key="ARMISFile38" value="EC0038.BCP2" />
    <add key="ARMISFile39" value="EC0039.BCP2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="LogFile" value="C:\AIS\InterfaceARMIS\InterfaceInputFiles" />-->
    <add key="LogFile" value="C:\AIS\LogFile" />
    <add key="NotificationEmailIDs" value="venkat.rami.reddy@zurichna.com;venkat.siva.chintalapati@zurichna.com;suneel.mogali@zurichna.com" />

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>