<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DBConnectionLINQ" connectionString="Data Source=DAVDB1320.amer.zurich.dev;Initial Catalog=AIS_UnitTest; Persist Security Info=True;User ID=AIS_WEB_USER;Password=Cscrac8ng" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>