<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!-- Connection for Dev -->
    <!--<add name="SQLServerConnectString" connectionString="Data Source=DAVDB1320.amer.zurich.dev;Initial Catalog=AIS_UAT;Persist Security Info=True;User ID=AIS_WEB_USER;Password=Cscrac8ng" providerName="System.Data.SqlClient" />-->
    <!-- Connection for QA -->
    <add name="SQLServerConnectString" connectionString="Data Source=DACLG1258\I02DA;Initial Catalog=AIS;Persist Security Info=True;User ID=AIS_WEB_USER;Password=RHzOBpFi10JzG7udy70u" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- REPLACE PATH TO D:\AIS\DataFeed\ARIES\Archive\ IN PRODUCTION -->
    <!-- REPLACE PATH TO C:\AIS\InterfaceARiES\InterfaceFiles\ IN local machine -->
    <add key="ARiESOutputFolder" value="C:\AIS\InterfaceARiES\InterfaceFiles\" />
    <add key="ARiESFileName" value="ais" />
    <!-- REPLACE FILE NAME TO BELOW FOR PRODUCTION -->
    <!-- USZ#PA.R2.SZ00.INT.RT01.TR -->
    <add key="ARiESFTPFileName" value="USZ#UA.R2.SZ00.INT.RT01.TR" />
    <add key="ARiESFTPServer" value="172.19.150.100" />
    <add key="ARiESFTPUserName" value="sapeft1" />
    <add key="ARiESFTPPassword" value="transfer" />
    <add key="ARiESLiteral" value="LITERAL SITE BLKSIZE=27200 LRECL=1600 RECFM=FB CY PRI=5 SEC=10"/>

    <!--<add key="ARiESFTPFileName" value="USZ#UA.R2.SZ00.INT.RT01.TR" />
    <add key="ARiESFTPServer" value="10.146.30.52" />
    <add key="ARiESFTPUserName" value="ftpid" />
    <add key="ARiESFTPPassword" value="ftpid" />
    <add key="ARiESLiteral" value="LITERAL SITE BLKSIZE=27200 LRECL=1600 RECFM=FB CY PRI=5 SEC=10"/>-->
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>