<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>


    <add key="ReturnEmailAddress" value="narmathaa.shanmugham-c@zurichna.com"/>
    <add key="ReturnDisplayName" value="AIS NDIC EXTRACT JOB - DEV"/>
    <add key="SMTPServerName" value="ZNLNCDP1912v.amer.zurich.corp"/>
    <add key="SMTPServerPort" value="25"/>
    <add key="NotificationEmailIDs" value="narmathaa.shanmugham-c@zurichna.com;suman.akkisetty-c@zurichna.com;v.dhalavaipettailaks-c@zurichna.com;"/>
    <add key="AISNDICExtractSuccessSubject" value="AIS NDIC Extract job Ran Successfully"/>
    <add key="AISNDICExtractFailureSubject" value="AIS NDIC Extract job Failed"/>
    <add key="AISNDICExtractSuccessBody" value="AIS NDIC Extract job Ran Successfully"/>
    <add key="AISNDICExtractFailureBody" value="AIS NDIC Extract job Failed"/>
    <add key="LogFile" value="C:\AIS\AISNDICExtractLogFile"/>
    <add key="JobSuccessCode" value="1000"/>
<!--suman.akkisetty-c@zurichna.com;v.dhalavaipettailaks-c@zurichna.com;-->

  </appSettings>
  <connectionStrings>

    <add name="SQLServerConnectString" connectionString="Data Source=ZNWDBCDQ06747V.zurich.uat;Initial Catalog=AIS_IFRS;Persist Security Info=True;MultipleActiveResultSets=true;Integrated Security=SSPI;Max Pool Size=200;" providerName="System.Data.SqlClient"/>


  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
