
IF EXISTS (SELECT 1 FROM sysobjects 
	WHERE NAME = 'GetWorkCompTxAsseKeOr' and TYPE = 'P')
	DROP PROC GetWorkCompTxAsseKeOr
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------
-----
-----	PROC NAME:		GetWorkCompTxAsseKeOr
-----
-----	VERSION:		SQL SERVER 2005
-----
-----	AUTHOR :		SUNEEL KUMAR MOGALI
-----
-----	DESCRIPTION:	RETURNS DATA WITH RESPECT TO THE GIVEN INVOICE NUMBER.
-----			
-----	ON EXIT:	
-----			
-----
-----	MODIFIED:	
-----			
----- 
---------------------------------------------------------------------

CREATE PROCEDURE [dbo].[GetWorkCompTxAsseKeOr]
@ADJNO INT,
@FLAG INT,
@REVFLAGPREV BIT,
@HISTFLAG BIT
AS
BEGIN

-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
SET NOCOUNT ON;


BEGIN TRY

DECLARE @OldAdjID int
DECLARE @IsRevised bit
DECLARE @IsVoid bit
DECLARE @FnlInvNbr varchar(3)

select @OldAdjID=OldAdj.PREM_ADJ_ID,@IsRevised=OldAdj.ADJ_RRSN_IND,@IsVoid=OldAdj.adj_void_ind, @FnlInvNbr=isnull(SUBSTRING(Adj.fnl_invc_nbr_txt,1,3),'')
from PREM_ADJ OldAdj INNER JOIN PREM_ADJ Adj ON  OldAdj.PREM_ADJ_ID=Adj.REL_PREM_ADJ_ID WHERE Adj.PREM_ADJ_ID=@ADJNO

If (@OldAdjID>0) and (@IsRevised=1) and (@FnlInvNbr<>'RTV')
BEGIN
if(@REVFLAGPREV = 0)
begin
SELECT 
COML_AGMT.COML_AGMT_ID "COML AGMT ID1",
PREM_ADJ_RETRO_DTL.ST_ID "ST ID1",
SUM(PREM_ADJ_RETRO_DTL.std_subj_prem_amt) "STD SUBJ PREM1",
SUM(PREM_ADJ_RETRO_DTL.BASIC_AMT) "BASIC AMT1",
SUM(PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT)
"INCURR LOSSES1",
SUM((PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT) *
[dbo].[fn_RetrieveLCF](PREM_ADJ_PERD.CUSTMR_ID,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,
COML_AGMT.COML_AGMT_ID,PREM_ADJ_RETRO_DTL.ln_of_bsn_id,PREM_ADJ_RETRO_DTL.ST_ID)) "CONVRT LOSSES1",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt) "ERP1",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt - PREM_ADJ_RETRO_DTL.std_subj_prem_amt)
"RETRO RESULT1",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TAX_ASSES_AMT) "TAX ASSESSMENT1",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_PREV_TAX_ASSES_AMT) "PREV TAX AMT1",
--CASE WHEN substring(PREM_ADJ.fnl_invc_nbr_txt,1,3) = 'RTV' OR @REVFLAGPREV = 1
-- THEN -(SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT))
--ELSE SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) END "KY OR AMT1"
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) "KY OR AMT1"
Into #tmpKY1
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (20) and PREM_ADJ_PGM.PGM_TYP_ID <> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,INT_ORG.FULL_NAME,INT_ORG.CITY_NM,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID
ORDER BY COML_AGMT.POl_SYM_TXT,COML_AGMT.POL_NBR_TXT, COML_AGMT.POl_MODULUS_TXT

SELECT 
COML_AGMT.COML_AGMT_ID "COML AGMT ID2",
PREM_ADJ_RETRO_DTL.ST_ID "ST ID2",
SUM(PREM_ADJ_RETRO_DTL.std_subj_prem_amt) "STD SUBJ PREM2",
SUM(PREM_ADJ_RETRO_DTL.BASIC_AMT) "BASIC AMT2",
SUM(PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT)
"INCURR LOSSES2",
SUM((PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT) *
[dbo].[fn_RetrieveLCF](PREM_ADJ_PERD.CUSTMR_ID,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,
COML_AGMT.COML_AGMT_ID,PREM_ADJ_RETRO_DTL.ln_of_bsn_id,PREM_ADJ_RETRO_DTL.ST_ID)) "CONVRT LOSSES2",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt) "ERP2",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt - PREM_ADJ_RETRO_DTL.std_subj_prem_amt)
"RETRO RESULT2",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TAX_ASSES_AMT) "TAX ASSESSMENT2",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_PREV_TAX_ASSES_AMT) "PREV TAX AMT2",
--CASE WHEN substring(PREM_ADJ.fnl_invc_nbr_txt,1,3) = 'RTV' OR @REVFLAGPREV = 1
-- THEN -(SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT))
--ELSE SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) END "KY OR AMT2"
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) "KY OR AMT2"
Into #tmpOR1
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (40) and PREM_ADJ_PGM.PGM_TYP_ID<> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,INT_ORG.FULL_NAME,INT_ORG.CITY_NM,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID
ORDER BY COML_AGMT.POl_SYM_TXT,COML_AGMT.POL_NBR_TXT, COML_AGMT.POl_MODULUS_TXT

SELECT CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
 WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
--INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
LKUP.LKUP_TXT+'('+CASE WHEN PGMTYP.LKUP_TXT LIKE 'NON-DEP%' THEN 'Retro' ELSE PGMTYP.LKUP_TXT END +')'  "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
COML_AGMT.POl_SYM_TXT + ' ' + RTRIM(COML_AGMT.POL_NBR_TXT) +'-' + COML_AGMT.POl_MODULUS_TXT "POLICY NUMBER",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
PREM_ADJ_PERD.PREM_ADJ_PERD_ID "PREM ADJ PERD ID",
PREM_ADJ_CMMNT.CMMNT_TXT "COMMENTS",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
PREM_ADJ_RETRO_DTL.ST_ID "ST ID3",
COML_AGMT.COML_AGMT_ID "COML AGMT ID3",'False' as IsRevised
Into #tmp1
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID 
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 340
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (20,40) and PREM_ADJ_PGM.PGM_TYP_ID<> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,PGMTYP.LKUP_TXT,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID,LKUP.LKUP_TXT,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,PREM_ADJ_CMMNT.CMMNT_TXT
ORDER BY COML_AGMT.COML_AGMT_ID

declare @sql1 nvarchar(4000)
set @sql1 = 'alter table #tmp1 drop column "ST ID3"'
exec(@sql1)

--SELECT * FROM #tmp,#tmpKY,#tmpOR
SELECT * 
INTO #FINAL1
FROM #tmp1 left outer join #tmpKY1 on #tmp1."COML AGMT ID3" = #tmpKY1."COML AGMT ID1"
LEFT OUTER JOIN #tmpOR1 on #tmp1."COML AGMT ID3" = #tmpOR1."COML AGMT ID2"

-----------------------------------------------------------------
SELECT 
COML_AGMT.COML_AGMT_ID "COML AGMT ID1",
PREM_ADJ_RETRO_DTL.ST_ID "ST ID1",
SUM(PREM_ADJ_RETRO_DTL.std_subj_prem_amt) "STD SUBJ PREM1",
SUM(PREM_ADJ_RETRO_DTL.BASIC_AMT) "BASIC AMT1",
SUM(PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT)
"INCURR LOSSES1",
SUM((PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT) *
[dbo].[fn_RetrieveLCF](PREM_ADJ_PERD.CUSTMR_ID,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,
COML_AGMT.COML_AGMT_ID,PREM_ADJ_RETRO_DTL.ln_of_bsn_id,PREM_ADJ_RETRO_DTL.ST_ID)) "CONVRT LOSSES1",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt) "ERP1",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt - PREM_ADJ_RETRO_DTL.std_subj_prem_amt)
"RETRO RESULT1",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TAX_ASSES_AMT) "TAX ASSESSMENT1",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_PREV_TAX_ASSES_AMT) "PREV TAX AMT1",
--CASE WHEN substring(PREM_ADJ.fnl_invc_nbr_txt,1,3) = 'RTV' OR @REVFLAGPREV = 1
-- THEN -(SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT))
--ELSE SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) END "KY OR AMT1"
-SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) "KY OR AMT1"
Into #tmpKY2
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
 WHERE PREM_ADJ.PREM_ADJ_ID =  @OldAdjID 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (20) and PREM_ADJ_PGM.PGM_TYP_ID <> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,INT_ORG.FULL_NAME,INT_ORG.CITY_NM,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID
ORDER BY COML_AGMT.POl_SYM_TXT,COML_AGMT.POL_NBR_TXT, COML_AGMT.POl_MODULUS_TXT

SELECT 
COML_AGMT.COML_AGMT_ID "COML AGMT ID2",
PREM_ADJ_RETRO_DTL.ST_ID "ST ID2",
SUM(PREM_ADJ_RETRO_DTL.std_subj_prem_amt) "STD SUBJ PREM2",
SUM(PREM_ADJ_RETRO_DTL.BASIC_AMT) "BASIC AMT2",
SUM(PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT)
"INCURR LOSSES2",
SUM((PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT) *
[dbo].[fn_RetrieveLCF](PREM_ADJ_PERD.CUSTMR_ID,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,
COML_AGMT.COML_AGMT_ID,PREM_ADJ_RETRO_DTL.ln_of_bsn_id,PREM_ADJ_RETRO_DTL.ST_ID)) "CONVRT LOSSES2",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt) "ERP2",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt - PREM_ADJ_RETRO_DTL.std_subj_prem_amt)
"RETRO RESULT2",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TAX_ASSES_AMT) "TAX ASSESSMENT2",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_PREV_TAX_ASSES_AMT) "PREV TAX AMT2",
--CASE WHEN substring(PREM_ADJ.fnl_invc_nbr_txt,1,3) = 'RTV' OR @REVFLAGPREV = 1
-- THEN -(SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT))
--ELSE SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) END "KY OR AMT2"
-SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) "KY OR AMT2"
Into #tmpOR2
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
 WHERE PREM_ADJ.PREM_ADJ_ID =  @OldAdjID 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (40) and PREM_ADJ_PGM.PGM_TYP_ID<> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,INT_ORG.FULL_NAME,INT_ORG.CITY_NM,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID
ORDER BY COML_AGMT.POl_SYM_TXT,COML_AGMT.POL_NBR_TXT, COML_AGMT.POl_MODULUS_TXT

SELECT PREM_ADJ.FNL_INVC_NBR_TXT "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CONVERT(NVARCHAR(30), FNL_INVC_DT,101) "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
--INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
LKUP.LKUP_TXT+'('+CASE WHEN PGMTYP.LKUP_TXT LIKE 'NON-DEP%' THEN 'Retro' ELSE PGMTYP.LKUP_TXT END +')'  "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
COML_AGMT.POl_SYM_TXT + ' ' + RTRIM(COML_AGMT.POL_NBR_TXT) +'-' + COML_AGMT.POl_MODULUS_TXT "POLICY NUMBER",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
PREM_ADJ_PERD.PREM_ADJ_PERD_ID "PREM ADJ PERD ID",
PREM_ADJ_CMMNT.CMMNT_TXT "COMMENTS",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
PREM_ADJ_RETRO_DTL.ST_ID "ST ID3",
COML_AGMT.COML_AGMT_ID "COML AGMT ID3",'True' as IsRevised
Into #tmp2
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID 
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 340
 WHERE PREM_ADJ.PREM_ADJ_ID =  @OldAdjID 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (20,40) and PREM_ADJ_PGM.PGM_TYP_ID<> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,PGMTYP.LKUP_TXT,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID,LKUP.LKUP_TXT,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,PREM_ADJ_CMMNT.CMMNT_TXT
ORDER BY COML_AGMT.COML_AGMT_ID

declare @sql2 nvarchar(4000)
set @sql2 = 'alter table #tmp2 drop column "ST ID3"'
exec(@sql2)

--SELECT * FROM #tmp,#tmpKY,#tmpOR
SELECT * 
INTO #FINAL2
FROM #tmp2 left outer join #tmpKY2 on #tmp2."COML AGMT ID3" = #tmpKY2."COML AGMT ID1"
LEFT OUTER JOIN #tmpOR2 on #tmp2."COML AGMT ID3" = #tmpOR2."COML AGMT ID2"

SELECT DISTINCT * FROM #FINAL1 where ([KY OR AMT1] IS NOT NULL) or ([KY OR AMT2] IS NOT NULL)
UNION ALL
SELECT DISTINCT * FROM #FINAL2 where ([KY OR AMT1] IS NOT NULL) or ([KY OR AMT2] IS NOT NULL)

drop table #tmpOR1
drop table #tmpKY1
drop table #tmp1
drop table #FINAL1
drop table #tmpOR2
drop table #tmpKY2
drop table #tmp2
drop table #FINAL2
END
ELSE
BEGIN
SELECT 
COML_AGMT.COML_AGMT_ID "COML AGMT ID1",
PREM_ADJ_RETRO_DTL.ST_ID "ST ID1",
SUM(PREM_ADJ_RETRO_DTL.std_subj_prem_amt) "STD SUBJ PREM1",
SUM(PREM_ADJ_RETRO_DTL.BASIC_AMT) "BASIC AMT1",
SUM(PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT)
"INCURR LOSSES1",
SUM((PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT) *
[dbo].[fn_RetrieveLCF](PREM_ADJ_PERD.CUSTMR_ID,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,
COML_AGMT.COML_AGMT_ID,PREM_ADJ_RETRO_DTL.ln_of_bsn_id,PREM_ADJ_RETRO_DTL.ST_ID)) "CONVRT LOSSES1",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt) "ERP1",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt - PREM_ADJ_RETRO_DTL.std_subj_prem_amt)
"RETRO RESULT1",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TAX_ASSES_AMT) "TAX ASSESSMENT1",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_PREV_TAX_ASSES_AMT) "PREV TAX AMT1",
--CASE WHEN substring(PREM_ADJ.fnl_invc_nbr_txt,1,3) = 'RTV' OR @REVFLAGPREV = 1
-- THEN -(SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT))
--ELSE SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) END "KY OR AMT1"
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) "KY OR AMT1"
Into #tmpKY5
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (20) and PREM_ADJ_PGM.PGM_TYP_ID <> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,INT_ORG.FULL_NAME,INT_ORG.CITY_NM,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID
ORDER BY COML_AGMT.POl_SYM_TXT,COML_AGMT.POL_NBR_TXT, COML_AGMT.POl_MODULUS_TXT

SELECT 
COML_AGMT.COML_AGMT_ID "COML AGMT ID2",
PREM_ADJ_RETRO_DTL.ST_ID "ST ID2",
SUM(PREM_ADJ_RETRO_DTL.std_subj_prem_amt) "STD SUBJ PREM2",
SUM(PREM_ADJ_RETRO_DTL.BASIC_AMT) "BASIC AMT2",
SUM(PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT)
"INCURR LOSSES2",
SUM((PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT) *
[dbo].[fn_RetrieveLCF](PREM_ADJ_PERD.CUSTMR_ID,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,
COML_AGMT.COML_AGMT_ID,PREM_ADJ_RETRO_DTL.ln_of_bsn_id,PREM_ADJ_RETRO_DTL.ST_ID)) "CONVRT LOSSES2",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt) "ERP2",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt - PREM_ADJ_RETRO_DTL.std_subj_prem_amt)
"RETRO RESULT2",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TAX_ASSES_AMT) "TAX ASSESSMENT2",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_PREV_TAX_ASSES_AMT) "PREV TAX AMT2",
--CASE WHEN substring(PREM_ADJ.fnl_invc_nbr_txt,1,3) = 'RTV' OR @REVFLAGPREV = 1
-- THEN -(SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT))
--ELSE SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) END "KY OR AMT2"
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) "KY OR AMT2"
Into #tmpOR5
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (40) and PREM_ADJ_PGM.PGM_TYP_ID<> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,INT_ORG.FULL_NAME,INT_ORG.CITY_NM,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID
ORDER BY COML_AGMT.POl_SYM_TXT,COML_AGMT.POL_NBR_TXT, COML_AGMT.POl_MODULUS_TXT

SELECT CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
 WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
--INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
LKUP.LKUP_TXT+'('+CASE WHEN PGMTYP.LKUP_TXT LIKE 'NON-DEP%' THEN 'Retro' ELSE PGMTYP.LKUP_TXT END +')'  "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
COML_AGMT.POl_SYM_TXT + ' ' + RTRIM(COML_AGMT.POL_NBR_TXT) +'-' + COML_AGMT.POl_MODULUS_TXT "POLICY NUMBER",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
PREM_ADJ_PERD.PREM_ADJ_PERD_ID "PREM ADJ PERD ID",
PREM_ADJ_CMMNT.CMMNT_TXT "COMMENTS",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
PREM_ADJ_RETRO_DTL.ST_ID "ST ID3",
COML_AGMT.COML_AGMT_ID "COML AGMT ID3",'False' as IsRevised
Into #tmp5
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID 
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 340
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (20,40) and PREM_ADJ_PGM.PGM_TYP_ID<> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,PGMTYP.LKUP_TXT,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID,LKUP.LKUP_TXT,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,PREM_ADJ_CMMNT.CMMNT_TXT
ORDER BY COML_AGMT.COML_AGMT_ID

declare @sql5 nvarchar(4000)
set @sql5 = 'alter table #tmp5 drop column "ST ID3"'
exec(@sql5)

--SELECT * FROM #tmp,#tmpKY,#tmpOR
SELECT * 
INTO #FINAL5
FROM #tmp5 left outer join #tmpKY5 on #tmp5."COML AGMT ID3" = #tmpKY5."COML AGMT ID1"
LEFT OUTER JOIN #tmpOR5 on #tmp5."COML AGMT ID3" = #tmpOR5."COML AGMT ID2"

SELECT DISTINCT * FROM #FINAL5 where ([KY OR AMT1] IS NOT NULL) or ([KY OR AMT2] IS NOT NULL)

drop table #tmpOR5
drop table #tmpKY5
drop table #tmp5
drop table #FINAL5

END


END
ELSE If (@OldAdjID>0) and (@IsVoid=1) and (@FnlInvNbr='RTV')-- Voided
BEGIN

SELECT 
COML_AGMT.COML_AGMT_ID "COML AGMT ID1",
PREM_ADJ_RETRO_DTL.ST_ID "ST ID1",
SUM(PREM_ADJ_RETRO_DTL.std_subj_prem_amt) "STD SUBJ PREM1",
SUM(PREM_ADJ_RETRO_DTL.BASIC_AMT) "BASIC AMT1",
SUM(PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT)
"INCURR LOSSES1",
SUM((PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT) *
[dbo].[fn_RetrieveLCF](PREM_ADJ_PERD.CUSTMR_ID,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,
COML_AGMT.COML_AGMT_ID,PREM_ADJ_RETRO_DTL.ln_of_bsn_id,PREM_ADJ_RETRO_DTL.ST_ID)) "CONVRT LOSSES1",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt) "ERP1",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt - PREM_ADJ_RETRO_DTL.std_subj_prem_amt)
"RETRO RESULT1",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TAX_ASSES_AMT) "TAX ASSESSMENT1",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_PREV_TAX_ASSES_AMT) "PREV TAX AMT1",
--CASE WHEN substring(PREM_ADJ.fnl_invc_nbr_txt,1,3) = 'RTV' OR @REVFLAGPREV = 1
-- THEN -(SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT))
--ELSE SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) END "KY OR AMT1"
-SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) "KY OR AMT1"
Into #tmpKY3
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (20) and PREM_ADJ_PGM.PGM_TYP_ID <> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,INT_ORG.FULL_NAME,INT_ORG.CITY_NM,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID
ORDER BY COML_AGMT.POl_SYM_TXT,COML_AGMT.POL_NBR_TXT, COML_AGMT.POl_MODULUS_TXT

SELECT 
COML_AGMT.COML_AGMT_ID "COML AGMT ID2",
PREM_ADJ_RETRO_DTL.ST_ID "ST ID2",
SUM(PREM_ADJ_RETRO_DTL.std_subj_prem_amt) "STD SUBJ PREM2",
SUM(PREM_ADJ_RETRO_DTL.BASIC_AMT) "BASIC AMT2",
SUM(PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT)
"INCURR LOSSES2",
SUM((PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT) *
[dbo].[fn_RetrieveLCF](PREM_ADJ_PERD.CUSTMR_ID,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,
COML_AGMT.COML_AGMT_ID,PREM_ADJ_RETRO_DTL.ln_of_bsn_id,PREM_ADJ_RETRO_DTL.ST_ID)) "CONVRT LOSSES2",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt) "ERP2",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt - PREM_ADJ_RETRO_DTL.std_subj_prem_amt)
"RETRO RESULT2",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TAX_ASSES_AMT) "TAX ASSESSMENT2",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_PREV_TAX_ASSES_AMT) "PREV TAX AMT2",
--CASE WHEN substring(PREM_ADJ.fnl_invc_nbr_txt,1,3) = 'RTV' OR @REVFLAGPREV = 1
-- THEN -(SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT))
--ELSE SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) END "KY OR AMT2"
-SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) "KY OR AMT2"
Into #tmpOR3
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (40) and PREM_ADJ_PGM.PGM_TYP_ID<> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,INT_ORG.FULL_NAME,INT_ORG.CITY_NM,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID
ORDER BY COML_AGMT.POl_SYM_TXT,COML_AGMT.POL_NBR_TXT, COML_AGMT.POl_MODULUS_TXT

SELECT CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
 WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
--INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
LKUP.LKUP_TXT+'('+CASE WHEN PGMTYP.LKUP_TXT LIKE 'NON-DEP%' THEN 'Retro' ELSE PGMTYP.LKUP_TXT END +')'  "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
COML_AGMT.POl_SYM_TXT + ' ' + RTRIM(COML_AGMT.POL_NBR_TXT) +'-' + COML_AGMT.POl_MODULUS_TXT "POLICY NUMBER",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
PREM_ADJ_PERD.PREM_ADJ_PERD_ID "PREM ADJ PERD ID",
PREM_ADJ_CMMNT.CMMNT_TXT "COMMENTS",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
PREM_ADJ_RETRO_DTL.ST_ID "ST ID3",
COML_AGMT.COML_AGMT_ID "COML AGMT ID3",'False' as IsRevised
Into #tmp3
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID 
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 340
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (20,40) and PREM_ADJ_PGM.PGM_TYP_ID<> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,PGMTYP.LKUP_TXT,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID,LKUP.LKUP_TXT,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,PREM_ADJ_CMMNT.CMMNT_TXT
ORDER BY COML_AGMT.COML_AGMT_ID

declare @sql3 nvarchar(4000)
set @sql3 = 'alter table #tmp3 drop column "ST ID3"'
exec(@sql3)

--SELECT * FROM #tmp,#tmpKY,#tmpOR
SELECT * 
INTO #FINAL3
FROM #tmp3 left outer join #tmpKY3 on #tmp3."COML AGMT ID3" = #tmpKY3."COML AGMT ID1"
LEFT OUTER JOIN #tmpOR3 on #tmp3."COML AGMT ID3" = #tmpOR3."COML AGMT ID2"

SELECT DISTINCT * FROM #FINAL3 where ([KY OR AMT1] IS NOT NULL) or ([KY OR AMT2] IS NOT NULL)

drop table #tmpOR3
drop table #tmpKY3
drop table #tmp3
drop table #FINAL3

END
ELSE --If (@OldAdjID=0) 
BEGIN


SELECT 
COML_AGMT.COML_AGMT_ID "COML AGMT ID1",
PREM_ADJ_RETRO_DTL.ST_ID "ST ID1",
SUM(PREM_ADJ_RETRO_DTL.std_subj_prem_amt) "STD SUBJ PREM1",
SUM(PREM_ADJ_RETRO_DTL.BASIC_AMT) "BASIC AMT1",
SUM(PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT)
"INCURR LOSSES1",
SUM((PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT) *
[dbo].[fn_RetrieveLCF](PREM_ADJ_PERD.CUSTMR_ID,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,
COML_AGMT.COML_AGMT_ID,PREM_ADJ_RETRO_DTL.ln_of_bsn_id,PREM_ADJ_RETRO_DTL.ST_ID)) "CONVRT LOSSES1",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt) "ERP1",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt - PREM_ADJ_RETRO_DTL.std_subj_prem_amt)
"RETRO RESULT1",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TAX_ASSES_AMT) "TAX ASSESSMENT1",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_PREV_TAX_ASSES_AMT) "PREV TAX AMT1",
--CASE WHEN substring(PREM_ADJ.fnl_invc_nbr_txt,1,3) = 'RTV' OR @REVFLAGPREV = 1
-- THEN -(SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT))
--ELSE SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) END "KY OR AMT1"
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) "KY OR AMT1"
Into #tmpKY4
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (20) and PREM_ADJ_PGM.PGM_TYP_ID <> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,INT_ORG.FULL_NAME,INT_ORG.CITY_NM,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID
ORDER BY COML_AGMT.POl_SYM_TXT,COML_AGMT.POL_NBR_TXT, COML_AGMT.POl_MODULUS_TXT

SELECT 
COML_AGMT.COML_AGMT_ID "COML AGMT ID2",
PREM_ADJ_RETRO_DTL.ST_ID "ST ID2",
SUM(PREM_ADJ_RETRO_DTL.std_subj_prem_amt) "STD SUBJ PREM2",
SUM(PREM_ADJ_RETRO_DTL.BASIC_AMT) "BASIC AMT2",
SUM(PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT)
"INCURR LOSSES2",
SUM((PREM_ADJ_RETRO_DTL.SUBJ_PAID_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_PAID_EXPS_AMT +
PREM_ADJ_RETRO_DTL.SUBJ_RESRV_IDNMTY_AMT + PREM_ADJ_RETRO_DTL.SUBJ_RESRV_EXPS_AMT) *
[dbo].[fn_RetrieveLCF](PREM_ADJ_PERD.CUSTMR_ID,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,
COML_AGMT.COML_AGMT_ID,PREM_ADJ_RETRO_DTL.ln_of_bsn_id,PREM_ADJ_RETRO_DTL.ST_ID)) "CONVRT LOSSES2",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt) "ERP2",
SUM(PREM_ADJ_RETRO_DTL.ernd_retro_prem_amt - PREM_ADJ_RETRO_DTL.std_subj_prem_amt)
"RETRO RESULT2",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TAX_ASSES_AMT) "TAX ASSESSMENT2",
SUM(PREM_ADJ_RETRO_DTL.KY_OR_PREV_TAX_ASSES_AMT) "PREV TAX AMT2",
--CASE WHEN substring(PREM_ADJ.fnl_invc_nbr_txt,1,3) = 'RTV' OR @REVFLAGPREV = 1
-- THEN -(SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT))
--ELSE SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) END "KY OR AMT2"
SUM(PREM_ADJ_RETRO_DTL.KY_OR_TOT_DUE_AMT) "KY OR AMT2"
Into #tmpOR4
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (40) and PREM_ADJ_PGM.PGM_TYP_ID<> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,INT_ORG.FULL_NAME,INT_ORG.CITY_NM,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID
ORDER BY COML_AGMT.POl_SYM_TXT,COML_AGMT.POL_NBR_TXT, COML_AGMT.POl_MODULUS_TXT

SELECT CASE @FLAG WHEN 1 THEN PREM_ADJ.DRFT_INVC_NBR_TXT 
WHEN 2 THEN PREM_ADJ.FNL_INVC_NBR_TXT 
ELSE PREM_ADJ.DRFT_INVC_NBR_TXT END "INVOICE NUMBER",
PREM_ADJ.FNL_INVC_DT "FINAL DATE",
CASE @FLAG WHEN 1 THEN CONVERT(NVARCHAR(30), DRFT_INVC_DT,101)
 WHEN 2 THEN CONVERT(NVARCHAR(30), FNL_INVC_DT,101)
ELSE  CONVERT(NVARCHAR(30), DRFT_INVC_DT,101) END "INVOICE DATE",
CONVERT(NVARCHAR(30), PREM_ADJ_PGM.STRT_DT, 101) + '-' + CONVERT(NVARCHAR(30), PREM_ADJ_PGM.PLAN_END_DT,101) "PROGRAM PERIOD",
CONVERT(NVARCHAR(30), PREM_ADJ.VALN_DT, 101) "VALUATION DATE",
CUSTMR.FULL_NM "INSURED NAME",
--INT_ORG.FULL_NAME+'/'+INT_ORG.CITY_NM "BU/OFFICE", 
PREM_ADJ_PGM.BRKR_ID "BROKER ID",
EXTRNL_ORG.FULL_NAME "BROKER",
LKUP.LKUP_TXT+'('+CASE WHEN PGMTYP.LKUP_TXT LIKE 'NON-DEP%' THEN 'Retro' ELSE PGMTYP.LKUP_TXT END +')'  "ADJUSTMENT TYPE",
PREM_ADJ_PERD.ADJ_NBR_TXT "ADJUSTMENT NUMBER",
COML_AGMT.POl_SYM_TXT + ' ' + RTRIM(COML_AGMT.POL_NBR_TXT) +'-' + COML_AGMT.POl_MODULUS_TXT "POLICY NUMBER",
CONVERT(NVARCHAR(30), COML_AGMT.POL_EFF_DT,101) + '-' + CONVERT(NVARCHAR(30), COML_AGMT.PLANNED_END_DATE, 101) "POLICY PERIOD",
PREM_ADJ_PERD.PREM_ADJ_PERD_ID "PREM ADJ PERD ID",
PREM_ADJ_CMMNT.CMMNT_TXT "COMMENTS",
PREM_ADJ.PREM_ADJ_ID "PREM ADJ ID",
PREM_ADJ_PGM.PREM_ADJ_PGM_ID "PREM ADJ PGM ID",
PREM_ADJ_RETRO_DTL.ST_ID "ST ID3",
COML_AGMT.COML_AGMT_ID "COML AGMT ID3",'False' as IsRevised
Into #tmp4
FROM PREM_ADJ 
INNER JOIN PREM_ADJ_PGM ON PREM_ADJ_PGM.ACTV_IND = 1 
INNER JOIN PREM_ADJ_PERD ON PREM_ADJ_PERD.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_PERD.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN CUSTMR ON PREM_ADJ_PERD.CUSTMR_ID = CUSTMR.CUSTMR_ID 
INNER JOIN EXTRNL_ORG ON EXTRNL_ORG.EXTRNL_ORG_ID = PREM_ADJ_PGM.BRKR_ID
--INNER JOIN INT_ORG ON INT_ORG.INT_ORG_ID = PREM_ADJ_PGM.BSN_UNT_OFC_ID
INNER JOIN COML_AGMT ON COML_AGMT.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND COML_AGMT.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND COML_AGMT.COVG_TYP_ID in (92,85) AND COML_AGMT.ADJ_TYP_ID in (65,71,67,72)
INNER JOIN PREM_ADJ_RETRO ON PREM_ADJ_RETRO.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID
AND PREM_ADJ_RETRO.PREM_ADJ_ID = PREM_ADJ.PREM_ADJ_ID
AND PREM_ADJ_RETRO.CUSTMR_ID = CUSTMR.CUSTMR_ID
AND PREM_ADJ_RETRO.COML_AGMT_ID = COML_AGMT.COML_AGMT_ID
AND PREM_ADJ_RETRO.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
INNER JOIN PREM_ADJ_RETRO_DTL ON PREM_ADJ_RETRO_DTL.PREM_ADJ_RETRO_ID =
PREM_ADJ_RETRO.PREM_ADJ_RETRO_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_PERD_ID =
PREM_ADJ_PERD.PREM_ADJ_PERD_ID AND PREM_ADJ_RETRO_DTL.PREM_ADJ_ID = 
PREM_ADJ.PREM_ADJ_ID AND PREM_ADJ_RETRO_DTL.CUSTMR_ID = CUSTMR.CUSTMR_ID
INNER JOIN PREM_ADJ_PGM_STS ON PREM_ADJ_PGM_STS.PREM_ADJ_PGM_ID = PREM_ADJ_PGM.PREM_ADJ_PGM_ID
AND PREM_ADJ_PGM_STS.PGM_PERD_STS_TYP_ID = 342 AND PREM_ADJ_PGM_STS.STS_CHK_IND = 1
INNER JOIN LKUP ON LKUP.LKUP_ID = PREM_ADJ_PGM.PAID_INCUR_TYP_ID
INNER JOIN LKUP PGMTYP ON PGMTYP.LKUP_ID = PREM_ADJ_PGM.PGM_TYP_ID
LEFT OUTER JOIN PREM_ADJ_CMMNT ON PREM_ADJ.prem_adj_id = PREM_ADJ_CMMNT.prem_adj_id
AND PREM_ADJ_CMMNT.PREM_ADJ_PERD_ID = PREM_ADJ_PERD.PREM_ADJ_PERD_ID 
AND PREM_ADJ_CMMNT.CMMNT_CATG_ID = 340
 WHERE PREM_ADJ.PREM_ADJ_ID =  @ADJNO 
AND PREM_ADJ_RETRO_DTL.ST_ID IN (20,40) and PREM_ADJ_PGM.PGM_TYP_ID<> 451
GROUP BY PREM_ADJ.DRFT_INVC_NBR_TXT,
PREM_ADJ.FNL_INVC_NBR_TXT,PREM_ADJ.FNL_INVC_DT,
PREM_ADJ.DRFT_INVC_DT,PREM_ADJ_PGM.STRT_DT,PREM_ADJ_PGM.PLAN_END_DT,
PREM_ADJ.VALN_DT,CUSTMR.FULL_NM,PGMTYP.LKUP_TXT,
PREM_ADJ_PGM.BRKR_ID,EXTRNL_ORG.FULL_NAME,
PREM_ADJ_PERD.ADJ_NBR_TXT,COML_AGMT.POl_SYM_TXT,
COML_AGMT.POL_NBR_TXT,COML_AGMT.POl_MODULUS_TXT,COML_AGMT.POL_EFF_DT,COML_AGMT.PLANNED_END_DATE,
PREM_ADJ.PREM_ADJ_ID,PREM_ADJ_RETRO_DTL.ST_ID,PREM_ADJ_PERD.PREM_ADJ_PERD_ID,
COML_AGMT.COML_AGMT_ID,LKUP.LKUP_TXT,PREM_ADJ_PGM.PREM_ADJ_PGM_ID,PREM_ADJ_CMMNT.CMMNT_TXT
ORDER BY COML_AGMT.COML_AGMT_ID

declare @sql4 nvarchar(4000)
set @sql4 = 'alter table #tmp4 drop column "ST ID3"'
exec(@sql4)

--SELECT * FROM #tmp,#tmpKY,#tmpOR
SELECT * 
INTO #FINAL4
FROM #tmp4 left outer join #tmpKY4 on #tmp4."COML AGMT ID3" = #tmpKY4."COML AGMT ID1"
LEFT OUTER JOIN #tmpOR4 on #tmp4."COML AGMT ID3" = #tmpOR4."COML AGMT ID2"

SELECT DISTINCT * FROM #FINAL4 where ([KY OR AMT1] IS NOT NULL) or ([KY OR AMT2] IS NOT NULL)

drop table #tmpOR4
drop table #tmpKY4
drop table #tmp4
drop table #FINAL4

END

END TRY
BEGIN CATCH

	
	SELECT 
    ERROR_NUMBER() AS ERRORNUMBER,
    ERROR_SEVERITY() AS ERRORSEVERITY,
    ERROR_STATE() AS ERRORSTATE,
    ERROR_PROCEDURE() AS ERRORPROCEDURE,
    ERROR_LINE() AS ERRORLINE,
    ERROR_MESSAGE() AS ERRORMESSAGE;


END CATCH
END

GO

IF OBJECT_ID('GetWorkCompTxAsseKeOr') IS NOT NULL
	PRINT 'CREATED PROCEDURE GetWorkCompTxAsseKeOr'
ELSE
	PRINT 'FAILED CREATING PROCEDURE GetWorkCompTxAsseKeOr'
GO

IF OBJECT_ID('GetWorkCompTxAsseKeOr') IS NOT NULL
	GRANT EXEC ON GetWorkCompTxAsseKeOr TO PUBLIC
GO





